<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="icon" {{.Icon}}>
    <style>{{.CSS}}</style>
    {{if .Domain}}
    <script defer data-domain="{{.Domain}}" src="{{.Track}}"></script>
    {{end}}
</head>

<body>

<main>
{{with .Post}}
{{.Content}}
{{end}}
{{range .Sections}}
<h2><a href="/blog/{{.URL}}">{{.Title}}</a> </h2>
<ul>
{{range .Posts}}
    <li><a href="/blog/{{.URL}}">{{.Title}} - <i>{{.Date}}</i></a> </li>
{{end}}
</ul>
{{end}}
{{with .Section}}
<h2><a href="/blog/{{.URL}}">{{.Title}}</a> </h2>
<ul>
{{range .Posts}}
    <li><a href="/blog/{{.URL}}">{{.Title}} - <i>{{.Date}}</i></a> </li>
{{end}}
{{end}}
</main>
{{range .JS}}
<script>{{.}}</script>
{{end}}
</body>

</html>