<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="icon" {{.Icon}}>
    <style>{{.CSS}}</style>
    {{if .Domain}}
    <script defer data-domain="{{.Domain}}" src="{{.Track}}"></script>
    {{end}}
</head>

<body>

<main>
        <div class="index">
        <a href="/" class="blog-logo">
            <img {{.Logo}} alt="" srcset="">
        </a>
        </div>
{{with .Post}}
<h1>{{.Title}}</h1>
<h2 class="author"><span>{{.Date}}</span> by <span><i>{{.Author}}</i></span>  </h2>
{{.Content}}
{{end}}
{{with .Sections}}
<ul>
{{range .}}
{{range .Posts}}
    <li><a href="/blog/{{.URL}}"><i>{{.Date}}</i> - {{.Title}}</a> </li>
{{end}}
{{end}}
</ul>
{{end}}

{{with .Section}}
<h2><a href="/blog/{{.URL}}" class="permalink">#</a>{{.Title}} </h2>
<ul>
{{range .Posts}}
    <li><a href="/blog/{{.URL}}"><i>{{.Date}}</i> - {{.Title}}</a> </li>
{{end}}
{{end}}
</main>
{{range .JS}}
<script>{{.}}</script>
{{end}}
</body>

</html>