*.sql
*.db
npm-debug.log
tracker/node_modules/
assets/tracker/js/*.js
assets/tracker/js/*.js

geoip/*.gz
geoip/*.zstd
.vince/
loadgen
tmp
dist/
*.zip

node_modules
.vitepress/caches
package-lock.json
.env
query.sql