{{define "_content"}}
<div class="container-lg">
    {{$calendar:= Calendar}}
    {{$today:= index $calendar 0}}
    <div class="Subhead Subhead--spacious text-center settingsDivider">
        <h2 class="Subhead-heading mt-3 mt-sm-0">
            <span data-target="vince-stats.period_range_from_label">
                April 26, 2023
            </span>
            <span class="dash">–</span>
            <span data-target="vince-stats.period_range_to_label">
                May 3, 2023
            </span>
        </h2>
        <div class="Subhead-actions mt-3 mt-sm-0">
            <details data-view-component="true" class="dropdown details-overlay details-reset d-inline-block">
                <summary role="button" class="btn">
                    <i>Period:</i>
                    <span data-target="vince-stats.period_label">
                        {{$today.Name}}
                    </span>
                    {{Icon "triangle-down" 16 "ml-2 mr-n1"}}
                </summary>
                <div data-view-component="true">
                    <details-menu role="menu" data-view-component="true"
                        class="dropdown-menu select-menu-modal dropdown-menu-sw">
                        <div class="select-menu-header">
                            <div class="select-menu-title">
                                Select time ranges
                            </div>
                        </div>
                        {{range $index,$period:= $calendar}}
                        <a role="menuitem" data-from="{{$period.From}}" data-to="{{$period.To}}"
                            data-from-label="{{PeriodLabel $period.Start}}" data-to-label="{{PeriodLabel $period.End}}"
                            data-name="{{$period.Name}}" data-targets="vince-stats.periods"
                            data-action="click:vince-stats#changePeriod"
                            class="dropdown-item select-menu-item select-menu-item-text">
                            {{$selected:=SelectedPeriod $index}}
                            {{Icon "check" 16 "select-menu-item-icon" $selected}}
                            <span class="select-menu-item-text">
                                {{$period.Name}}
                            </span>
                        </a>
                        {{end}}
                    </details-menu>
                </div>
            </details>
        </div>
    </div>
    <div class="Box mb-2 border-0">
        <tab-container>
            <div class="UnderlineNav p-2" aria-label="Foo bar">
                <ul role="tablist" class="UnderlineNav-body list-style-none">
                    <li>
                        <button id="visitors" role="tab" aria-selected="true" class="UnderlineNav-item px-3">
                            <span>Unique Visitors</span>
                            <span class="Counter">10</span>
                        </button>
                    </li>
                    <li>
                        <button id="views" role="tab" class="UnderlineNav-item px-3">
                            <span>Page Views</span>
                            <span class="Counter">10</span>
                        </button>
                    </li>
                    <li>
                        <button id="visits" role="tab" class="UnderlineNav-item px-3">
                            <span>Sessions</span>
                            <span class="Counter">10</span>
                        </button>
                    </li>
                    <li>
                        <button id="bounceRates" role="tab" class="UnderlineNav-item px-3">
                            <span>Bounce Rate</span>
                            <span class="Counter">10</span>
                        </button>
                    </li>
                    <li>
                        <button id="visitDurations" role="tab" class="UnderlineNav-item px-3">
                            <span>Visits Duration</span>
                            <span class="Counter">10</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="Box-body border-0" style="height: 260px;">
                <div id="visitor" role="tabpanel" aria-labelledby="visitors">
                    Visitors
                </div>
                <div id="view" role="tabpanel" aria-labelledby="views" hidden>
                    Views
                </div>
                <div id="visit" role="tabpanel" aria-labelledby="visits" hidden>
                    Visits
                </div>
                <div id="bounceRate" role="tabpanel" aria-labelledby="bounceRates" hidden>
                    Bounce Rates
                </div>
                <div id="visitDuration" role="tabpanel" aria-labelledby="visitDurations" hidden>
                    Visit Duration
                </div>
            </div>
        </tab-container>
    </div>
    <div class="d-flex">
        <div class="col-6 pr-2">
            <div class="Box">
                <tab-container>
                    <div class="Box-header p-2">
                        <ul role="tablist" class="tabnav-tabs">
                            <li role="presentation">
                                <button type="button" id="pages" role="tab" aria-selected="true"
                                    class="tabnav-tab">Pages</button>
                            </li>
                            <li role="presentation">
                                <button type="button" id="entryPages" role="tab" tabindex="-1" class="tabnav-tab">
                                    Entry Pages</button>
                            </li>
                            <li role="presentation">
                                <button type="button" id="exitPages" role="tab" tabindex="-1" class="tabnav-tab">
                                    Exit Pages</button>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" aria-labelledby="pages">
                        <div class="Box-row">
                            <a href="#" class="Box-row-link">/</a>
                        </div>
                    </div>
                    <div role="tabpanel" aria-labelledby="entryPages" hidden>
                        <div class="Box-row">
                            <div class="d-flex">
                                <div style="width: 80%;">
                                    <a href="#" class="Box-row-link width-full">/</a>
                                </div>
                                <div style="width: 20%;" class="text-center">
                                    914
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" aria-labelledby="exitPages" hidden>
                        <div class="Box-row">
                            <a href="#" class="Box-row-link">/</a>
                        </div>
                    </div>
                </tab-container>
            </div>
        </div>
        <div class="col-6">
            <div class="Box">
                <tab-container>
                    <div class="Box-header p-2">
                        <ul role="tablist" class="tabnav-tabs">
                            <li role="presentation">
                                <button type="button" id="referrers" role="tab" aria-selected="true"
                                    class="tabnav-tab">Referrers</button>
                            </li>
                            <li role="presentation">
                                <button type="button" id="sources" role="tab" tabindex="-1" class="tabnav-tab">
                                    Sources</button>
                            </li>
                            <li role="presentation">
                                <button type="button" id="media" role="tab" tabindex="-1" class="tabnav-tab">
                                    Media</button>
                            </li>
                            <li role="presentation">
                                <button type="button" id="campaigns" role="tab" tabindex="-1" class="tabnav-tab">
                                    Campaigns</button>
                            </li>
                        </ul>
                    </div>
                    <div class="Box-body">
                        <div role="tabpanel" aria-labelledby="referrers">
                            Referrers
                        </div>
                        <div role="tabpanel" aria-labelledby="sources" hidden>
                            Sources
                        </div>
                        <div role="tabpanel" aria-labelledby="media" hidden>
                            Media
                        </div>
                        <div role="tabpanel" aria-labelledby="campaigns" hidden>
                            Campaigns
                        </div>
                    </div>
                </tab-container>
            </div>
        </div>
    </div>
</div>
{{end}}