{{define "main"}}
<div class="containter pt-1">
    <a href="/{{.site.domain|path_escape}}/dashboard" class="text-sm text-rose-600 font-bold">
        ← Back to Stats
    </a>
    <div class="pb-5 border-b border-gray-200">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
            Settings for {{.site.domain}}
        </h2>
    </div>
    <div class="lg:mt-4">
        <div class="px-4 py-6 bg-white shadow dark:bg-gray-800 sm:rounded-md sm:overflow-hidden sm:p-6">
            <header class="relative" id="visibility">
                <h2 class="text-lg font-medium text-gray-900 leading-6 dark:text-gray-100">
                    Public dashboard
                </h2>
                <p class="mt-1 text-sm text-gray-500 leading-5 dark:text-gray-200">
                    Share your stats publicly or keep them private
                </p>
            </header>
            {{if .site.public}}
            <a href="/{{.site.domain|path_escape}}/make-private"
                class=" bg-indigo-600 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring">
                <span
                    class="inline-block w-5 h-5 bg-white rounded-full shadow translate-x-5 dark:bg-gray-800 transform transition ease-in-out duration-200">
                </span>
            </a>
            {{else}}
            <a href="/{{.site.domain|path_escape}}/make-public"
                class="bg-gray-200 dark:bg-gray-700 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring">
                <span
                    class="inline-block w-5 h-5 bg-white rounded-full shadow translate-x-0 dark:bg-gray-800 transform transition ease-in-out duration-200">
                </span>
            </a>
            {{end}}
            <div class="px-4 py-6 bg-white shadow dark:bg-gray-800 sm:rounded-md sm:overflow-hidden sm:p-6">
                <header class="relative">
                    <h2 class="text-lg font-medium text-gray-900 leading-6 dark:text-gray-100">Shared Links</h2>
                    <p class="mt-1 text-sm text-gray-500 leading-5 dark:text-gray-200">
                        You can share your stats privately by generating a shared link. The links are impossible to
                        guess and you can add password protection for extra security.
                    </p>
                </header>
                <div class="mt-6 flex flex-col divide-y divide-gray-200">
                    {{$domain :=.site.domain}}
                    {{range $share:=.site.share}}
                    <div class="py-4">
                        <label for={{$share.slug}}
                            class="flex content-center text-sm font-medium text-gray-700 dark:text-gray-300">
                            {{$share.name}}
                            {{if $share.password}}
                            <svg class="ml-1 w-4 h-4 mt-px" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                    clip-rule="evenodd">
                                </path>
                            </svg>
                            {{else}}
                            <svg class="ml-1 w-4 h-4 mt-px" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z">
                                </path>
                            </svg>
                            {{end}}
                        </label>
                        <div class="relative flex w-full mt-2 text-sm">
                            <input type="text" id={{$share.slug}} readonly="readonly" value={{$share.dest}}
                                class="w-full p-2 text-gray-700 bg-gray-100 border-none rounded rounded-r-none outline-none appearance-none transition dark:bg-gray-900 dark:text-gray-300 focus:outline-none focus:border-gray-300 dark:focus:border-gray-500" />
                            <button onclick="var input=document.getElementById('{{$share.slug}}'); input.focus();
                                input.select(); document.execCommand('copy');" href="javascript:void(0)"
                                class="px-4 py-2 inline-flex items-center text-indigo-800 bg-gray-200 border-r border-gray-300 rounded-none dark:bg-gray-850 dark:text-indigo-500 dark:border-gray-500 hover:bg-gray-300 dark:hover:bg-gray-825">
                                <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"></path>
                                    <path
                                        d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z">
                                    </path>
                                </svg>
                                <span class="ml-1">Copy</span>
                            </button>
                            <a href="/shared-links/{{$domain|path_escape}}/edit/{{$share.slug}}" class="px-4 py-2 inline-flex items-center text-indigo-800 bg-gray-200 border-r border-gray-300 rounded-none dark:bg-gray-850 dark:text-indigo-500 dark:border-gray-500 hover:bg-gray-300 dark:hover:bg-gray-825">
                                <svg
                                class="w-4 h-4"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
                                </path>
                                <path
                                  fill-rule="evenodd"
                                  d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                  clip-rule="evenodd"
                                >
                                </path>
                              </svg>  
                            </a>

                        </div>
                    </div>
                    {{end}}
                    <a href="/{{.site.domain|path_escape}}/shared-links" class="button mt-4">
                        + New Link
                    </a>
                </div>
            </div>
        </div>


        <div class="space-y-6 lg:mt-4">
            <div class="sm:rounded-md sm:overflow-hidden shadow">
                <div class="bg-white dark:bg-gray-800 py-6 px-4 space-y-6 sm:p-6">
                    <div>
                        <h2 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">Danger Zone</h2>
                        <p class="mt-1 text-sm leading-5 text-gray-500 dark:text-gray-200">Destructive actions below can
                            result in irrecoverable data loss. Be careful.</p>
                    </div>
                    <div class="border-b border-gray-200 dark:border-gray-500"></div>
                    <li class="py-4 flex items-center justify-between space-x-4">
                        <div class="flex max-w-md flex-col">
                            <p class="text-sm leading-5 font-medium text-gray-900 dark:text-gray-100">
                                Delete Site
                            </p>
                            <p class="text-sm leading-5 text-gray-500 dark:text-gray-200">
                                Permanently remove all stats and the site configuration too
                            </p>
                        </div>
                        <a href="/{{.site.domain|path_escape}}/delete"
                            class="inline-block px-4 py-2 border border-transparent font-medium rounded-md text-red-700 dark:text-red-800 bg-red-100 dark:bg-red-200 hover:bg-red-50 dark:hover:bg-red-300 focus:outline-none focus:border-red-300 focus:ring active:bg-red-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                            Delete {{.site.domain}}
                        </a>
                    </li>
                </div>
            </div>
        </div>

    </div>
</div>
{{end}}