
{{define "main"}}
<div class="containter pt-1">
    <a href="/{{.site.domain|path_escape}}/dashboard" class="text-sm text-rose-600 font-bold">
        ← Back to Stats
    </a>
    <div class="pb-5 border-b border-gray-200">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
            Settings for {{.site.domain}}
        </h2>
    </div>
    <div class="lg:mt-4">
        <div class="px-4 py-6 bg-white shadow dark:bg-gray-800 sm:rounded-md sm:overflow-hidden sm:p-6">
            <header class="relative" id="visibility">
                <h2 class="text-lg font-medium text-gray-900 leading-6 dark:text-gray-100">
                  Public dashboard
                </h2>
                <p class="mt-1 text-sm text-gray-500 leading-5 dark:text-gray-200">
                  Share your stats publicly or keep them private
                </p>
              </header>
              {{if .site.public}}
              <a href="/{{.site.domain|path_escape}}/make-private"
              class=" bg-indigo-600 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring">
                 <span class="inline-block w-5 h-5 bg-white rounded-full shadow translate-x-5 dark:bg-gray-800 transform transition ease-in-out duration-200">
                 </span>
              </a>
              {{else}}
              <a href="/{{.site.domain|path_escape}}/make-public"
              class="bg-gray-200 dark:bg-gray-700 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring">
              <span class="inline-block w-5 h-5 bg-white rounded-full shadow translate-x-0 dark:bg-gray-800 transform transition ease-in-out duration-200">
              </span>
              </a>
              {{end}}
              <div class="px-4 py-6 bg-white shadow dark:bg-gray-800 sm:rounded-md sm:overflow-hidden sm:p-6">
                <header class="relative">
                    <h2 class="text-lg font-medium text-gray-900 leading-6 dark:text-gray-100">Shared Links</h2>
                    <p class="mt-1 text-sm text-gray-500 leading-5 dark:text-gray-200">
                      You can share your stats privately by generating a shared link. The links are impossible to guess and you can add password protection for extra security.
                    </p>
                </header>
                <div class="mt-6 flex flex-col divide-y divide-gray-200">
                    <a href="" class="button mt-4">
                        + New Link
                    </a>
                </div>
              </div>
        </div>


        <div class="space-y-6 lg:mt-4">
            <div class="sm:rounded-md sm:overflow-hidden shadow">
                <div class="bg-white dark:bg-gray-800 py-6 px-4 space-y-6 sm:p-6">
                    <div>
                        <h2 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">Danger Zone</h2>
                        <p class="mt-1 text-sm leading-5 text-gray-500 dark:text-gray-200">Destructive actions below can result in irrecoverable data loss. Be careful.</p>
                    </div>
                    <div class="border-b border-gray-200 dark:border-gray-500"></div>
                    <li class="py-4 flex items-center justify-between space-x-4">
                        <div class="flex max-w-md flex-col">
                          <p class="text-sm leading-5 font-medium text-gray-900 dark:text-gray-100">
                          Delete Site
                          </p>
                          <p class="text-sm leading-5 text-gray-500 dark:text-gray-200">
                          Permanently remove all stats and the site configuration too
                          </p>
                        </div>
                        <a href="/{{.site.domain|path_escape}}/delete" class="inline-block px-4 py-2 border border-transparent font-medium rounded-md text-red-700 dark:text-red-800 bg-red-100 dark:bg-red-200 hover:bg-red-50 dark:hover:bg-red-300 focus:outline-none focus:border-red-300 focus:ring active:bg-red-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                            Delete {{.site.domain}}
                        </a>
                      </li>
                </div>
            </div>
        </div>
     
    </div>
</div>
{{end}}