{{define "_stat_line"}}
<script defer type="module">
    let el = document.getElementById("{{.}}");

    let xs = JSON.parse(el.dataset.series);
    let vals = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
    console.log(vals);

    let data = [
        new Float32Array(xs),
        new Float32Array(xs.map((t, i) => vals[Math.floor(Math.random() * vals.length)])),
    ];

    let fmtVal = (u, raw, sidx, didx) => {
        if (didx == null) {
            let d = u.data[sidx];
            return `${d[d.length - 1]} (last)`;
        }

        return raw == null ? '' : raw;
    };

    const opts = {
        width: el.scrollWidth,
        height: 200,
        title: "Areas Fill",
        scales: {
            x: {
                time: false,
            },
        },
        series: [
            {},
            {
                stroke: "red",
                fill: "rgba(255,0,0,0.1)",
                value: fmtVal,
            },
        ],
    };
    let u = new uPlot(opts, data, el);
</script>
{{end}}