{{define "_content"}}
<div class="clearfix container-xl mt-4 px-md-4 px-lg-5 px-3">
    <div class="Layout Layout--flowRow-until-md Layout--sidebarPosition-end Layout--sidebarPosition-flowRow-end">
        <div class="Layout-main">
            <nav class="UnderlineNav my-3">
                <div class="UnderlineNav-body">
                    {{range .Stats.Periods}}
                    <a href="{{.Query}}" class="UnderlineNav-item" {{if .Selected}}aria-current="page" {{end}}>
                        {{.Name}}
                    </a>
                    {{end}}
                </div>
            </nav>
            <div class="Box Box--spacious">
                <li class="Box-row p-0">
                    <ul class="list-style-none text-center d-flex flex-wrap">
                        {{range .Stats.Metrics}}
                        <li class="{{.Select}}  p-3 col-12 col-sm-6 col-md-3 border-bottom border-md-bottom-0">
                            <a href="{{.Query}}" class="no-underline">
                                <span class="d-block h4 color-fg-default">
                                    {{.Value}}
                                </span>
                                <span class="color-fg-muted">{{.Name}}</span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </li>
            </div>
        </div>
        <div class="Layout-sidebar">
        </div>
    </div>
</div>

{{end}}