{{$ctx := .}}

{{define "_content"}}
<div class="body">
    <div class="container-md">
        <div class="Subhead Subhead--spacious text-center settingsDivider">
            <h2 class="Subhead-heading">My Sites</h2>
        </div>
        {{if .SitesOverview}}
        {{range .SiteIndex}}
        <div class="d-flex">
            {{range .}}
            <div class="col-4">
                <div class="Box  color-shadow-medium ">
                    <div class="Box-body">
                        <div class="f4 lh-condensed text-bold color-fg-default">
                            <a href="/{{SafeDomain .Site}}/stats"
                                class="Link--primary text-bold no-underline wb-break-all d-inline-block">
                                {{SafeDomain .Site}}
                            </a>
                            <div class="d-flex BtnGroup float-right flex-items-baseline">
                                <a href="/{{SafeDomain .Site}}/settings" class="btn btn-link">
                                    {{Icon "gear" 16}}
                                </a>
                            </div>
                        </div>
                        <div>
                            <div id="{{.Site.ID}}"></div>
                        </div>
                        <div class="f6 color-fg-muted mt-2 mb-0">
                            <span class="d-inline-block mr-3">
                                <span class="lh-condensed text-bold">
                                    {{.Visitors}}
                                </span>
                                <span class="color-fg-muted">
                                    unique visitors last 24 hrs
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        {{end}}
        {{else}}
        <div class="blankslate">
            <h3 class="blankslate-heading">You don’t seem to have any sites.</h3>
            <div class="blankslate-action">
                <a class="btn btn-primary" type="button" href="/sites/new">
                    Add new site
                </a>
            </div>
        </div>
        {{end}}
    </div>
</div>
</div>
{{end}}