{{define "_content"}}

<div class="container-md ">
    <div class="Subhead text-center">
        <h2 class="Subhead-heading">Invite member to {{.Site.Domain}}</h2>
        <div class="Subhead-description">Expires in 48 hours</div>
    </div>
    <form action="/{{.USER.Name}}/{{.Site.Domain}}/memberships/invite" method="post">

        <div>
            <dl class="form-group required">
                <dt>
                    <label for="email">Email</label>
                </dt>
                <dd>
                    <input type="email" class="form-control input-block" required id="email">

                </dd>
                <p class="note">
                    Email address of the member you want to invite. An email will be sent to them with
                    an
                    invitation.
                </p>
            </dl>

            <div class="radio-group">
                <input class="radio-input" id="owner" type="radio" name="role" value="owner">
                <label class="radio-label" for="owner">Owner</label>
                <input class="radio-input" id="admin" type="radio" name="role" value="admin">
                <label class="radio-label" for="admin">Admin</label>
                <input class="radio-input" id="viewer" type="radio" name="role" value="viewer">
                <label class="radio-label" for="viewer">Viewer</label>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Send Invite →</button>
            </div>
        </div>
    </form>
</div>



{{end}}