{{define "_content"}}
<div>
    <div class="container-md">
        <div class="Subhead text-center settingsDivider">
            <h2 class="Subhead-heading">Create Goal</h2>
            <div class="Subhead-description">{{.Site.Domain}}</div>
        </div>
        <div class="Box">
            <div class="Box">
                <tab-container>
                    <div class="UnderlineNav">
                        <ul role="tablist" class="UnderlineNav-body list-style-none">
                            <li>
                                <button id="custom-events" role="tab" aria-selected="true"
                                    class="UnderlineNav-item px-3">
                                    {{Icon "issue-opened" 16 "UnderlineNav-octicon"}}
                                    <span>Custom Events</span>
                                </button>
                            </li>
                            <li>
                                <button id="path" role="tab" class="UnderlineNav-item px-3">
                                    {{Icon "issue-opened" 16 "UnderlineNav-octicon"}}
                                    <span>Page Views</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="Box-body">
                        <form action="/{{SafeDomain .Site}}/goals" method="post">
                            <div class="form-group" id="custom_event" role="tabpanel" aria-labelledby="custom-events">
                                <div class="form-group-header">
                                    <label for="event_name"> Event name</label>
                                </div>
                                <div class="form-group-body">
                                    <input type="text" name="event_name" id="event_name" placeholder="SignUp"
                                        class="form-control input-block border rounded">
                                </div>
                            </div>
                            <div class="form-group" id="page_view" role="tabpanel" aria-labelledby="path" hidden>
                                <div class="form-group-header">
                                    <label for="page_path"> Page path </label>
                                </div>
                                <div class="form-group-body">
                                    <input type="text" name="page_path" id="page_path" placeholder="/success"
                                        class="form-control input-block">
                                </div>
                            </div>
                            <div class="mx-3 p-2">
                                {{template "_csrf" .}}
                                <input type="submit" class="btn btn-primary mt-4 btn-block" value="Add goal →">
                            </div>
                        </form>

                    </div>
                </tab-container>

            </div>
        </div>
    </div>
</div>

{{end}}