{{define "_content"}}
<div>
    <div class="container-md">
        <div class="Subhead text-center border-0">
            <h2 class="Subhead-heading">Create Goal</h2>
            <div class="Subhead-description">{{.Site.Domain}}</div>
        </div>
        <div class="Box">
            <div class="Box">
                <tab-container>
                    <div class="Box-body">
                        <div class="UnderlineNav">
                            <ul role="tablist" class="UnderlineNav-body list-style-none">
                                <li>
                                    <button id="custom-events" role="tab" aria-selected="true"
                                        class="UnderlineNav-item px-3">
                                        <span>Custom Events</span>
                                    </button>
                                </li>
                                <li>
                                    <button id="path" role="tab" class="UnderlineNav-item px-3">
                                        <span>Page Views</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <form action="/{{.USER.Name}}/{{.Site.Domain}}/goals" method="post">
                            <div class="form-group required">
                                <div class="form-group-header">
                                    <label for="goal-name">Goal name</label>
                                </div>
                                <div class="form-group-body">
                                    <input class="form-control" type="text" name="name" id="goal-name" required>
                                </div>
                                {{with .Errors.name}}
                                <div class="note error">
                                    {{.}}
                                </div>
                                {{end}}
                            </div>
                            <div class="form-group" id="custom_event" role="tabpanel" aria-labelledby="custom-events">
                                <div class="form-group-header">
                                    <label for="event_name"> Event name</label>
                                </div>
                                <div class="form-group-body">
                                    <input type="text" name="event_name" id="event_name" placeholder="SignUp"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group" id="page_view" role="tabpanel" aria-labelledby="path" hidden>
                                <div class="form-group-header">
                                    <label for="page_path"> Page path </label>
                                </div>
                                <div class="form-group-body">
                                    <input type="text" name="page_path" id="page_path" placeholder="/success"
                                        class="form-control">
                                </div>
                            </div>
                            {{template "_csrf" .}}
                            <button type="submit" class="btn btn-primary">Add goal →</button>
                        </form>
                    </div>
                </tab-container>

            </div>
        </div>
    </div>
</div>

{{end}}