{{define "_content"}}
{{$ctx := .}}
<div class="container-md">
    <div id="visibility" class="my-3">
        <div class="Subhead">
            <h2 class="Subhead-heading">Visibility</h2>
        </div>
        <div class="Box color-border-danger">
            <div class="Box-row d-flex flex-items-center">
                <div class="flex-auto mb-md-0 mb-2">
                    <strong>
                        Change site visibility
                    </strong>
                    <p class="mb-0">
                        This site is currently {{if .Site.Public}}public{{else}}private{{end}}
                    </p>
                </div>
                <div class="flex-md-order-1 flex-order-2">
                    <form
                        action="/{{.USER.Name}}/{{.Site.Domain}}/settings/visibility/{{if .Site.Public}}private{{else}}public{{end}}"
                        method="post">
                        {{template "_csrf" .}}
                        <button type="submit" class=" Button--danger Button--medium Button">
                            <span class="Button-content">
                                <span class="Button-label">
                                    Change to {{if .Site.Public}}private{{else}}public{{end}}</span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="goals" class="my-3">
        <div class="Subhead">
            <h2 class="Subhead-heading">Goals</h2>
            <div class="Subhead-action">
                <a class="btn btn-primary" href="/{{.USER.Name}}/{{.Site.Domain}}/goals/new">
                    {{Icon "plus" 16}}
                    <span>Add goal</span>
                </a>
            </div>
        </div>
        {{if .Site.Goals}}
        <div class="Box">
            {{range .Site.Goals}}
            <div class="Box-row">
                <div class="f4 d-flex width-full flex-items-baseline  lh-condensed text-bold color-fg-default">
                    <div class="col-10">
                        <span class="text-bold  d-inline-block">
                            {{.Name}}
                        </span>
                    </div>
                    <div class="col-2">
                        <form action="/{{$ctx.USER.Name}}/{{$ctx.Site.Domain}}/goals/{{.ID}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            {{template "_csrf" $ctx}}
                            <button type="submit" class=" btn btn-danger">
                                Remove
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        {{else}}
        <div class="blankslate">
            <h2 class="blankslate-heading">No goals for this site yet</h2>
        </div>
        {{end}}

    </div>
    <div id="membership" class="my-3">
        <div class="Subhead">
            <h2 class="Subhead-heading">Membership</h2>
            <div class="Subhead-action">
                <a class="btn btn-primary" href="/{{.USER.Name}}/{{.Site.Domain}}/memberships/invite">
                    {{Icon "plus" 16}}
                    <span>Invite Member</span>
                </a>
            </div>
        </div>
        <div class="blankslate">
            <h2 class="blankslate-heading">No goals for this site yet</h2>
        </div>

    </div>

    <div id="delete-site" class="my-3">
        <div class="Subhead">
            <h2 class="Subhead-heading">Danger Zone</h2>
        </div>
        <Div class="Box color-border-danger">
            <div class="Box-row d-flex flex-items-center">
                <div class="flex-auto mb-md-0 mb-2">
                    <strong>
                        Delete this Site
                    </strong>
                    <p class="mb-0">
                        There is no way to recover this action.
                    </p>
                </div>
                <div class="flex-md-order-1 flex-order-2">
                    <form action="/{{.USER.Name}}/{{.Site.Domain}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        {{template "_csrf" .}}
                        <button type="submit" class=" Button--danger Button--medium Button">
                            <span class="Button-content">
                                <span class="Button-label">Delete this site</span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </Div>
    </div>
</div>
{{end}}