{{define "_content"}}
<div class="auth-form px-3">
    <div class="auth-form-header p0">
        Sign In
    </div>
    <div class="auth-form-body mt3">
        <form action="/login" method="post">
            <label for="email">email address</label>
            <input {{if .Errors.email}} invalid="true" {{end}} {{with .Form.email}}value="{{index . 0}}" {{end}}
                class="form-control input-block" type="email" name="email" id="email" placeholder="example@email.com">
            <div class="position-relative">
                <label for="password">password</label>
                <input {{if .Errors.password}}invalid="true" {{end}} class="form-control input-block" type="password"
                    name="password" id="password">
                <a href="/password/request-reset" class="label-link position-absolute top-0 right-0">
                    Forgot password ?
                </a>
                {{template "_csrf" .}}
                {{template "_captcha" .}}
                <input type="submit" value="Sign In" name="submit" class="btn btn-primary btn-block">
            </div>
            <p class="login-callout mt-3">
                New to VINCE ?<a href="/register"> Create an account</a>
            </p>
        </form>
    </div>
</div>
{{end}}