{{define "content"}}
<form action="/login" method="post" class="FormControl width-full container-md mx-auto px-8 py-6 mt-8">
    <h1 class="lead">Enter your email and password</h1>
    <div class="FormControl-input-wrap FormControl-medium">
        <label for="email" class="FormControl-label">email</label>
        <input {{if .Errors.email}} invalid="true" {{end}} {{with .Form.email}}value="{{index . 0}}" {{end}}
            class="FormControl-input" type="email" name="email" id="email" placeholder="example@email.com">
    </div>
    <div class="FormControl-input-wrap FormControl-medium">
        <label for="password" class="FormControl-label">password</label>
        <input {{if .Errors.password}}invalid="true" {{end}} class="FormControl-input" type="password" name="password"
            id="password">
        <p>Forgot password? <a href="/password/request-reset">Click here</a> to reset it</p>
    </div>
    {{template "secure" .}}
    <button type="submit" class="btn">Login →</button>
    <p>
        Don't have an account? <a href="/register"> Register</a> instead
    </p>
</form>
{{end}}