{{define "_content"}}
<div class="container-md Box ">
    <div class="Box-header ">
        Register a VINCE account
    </div>
    <div class="Box-body">
        <form action="/register" method="post">
            <div class="form-group {{if .Errors.name}}errored{{end}}">
                <div class="form-group-header">
                    <label for="name">Full Name</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control input-block" type="text" name="name" id="name" placeholder="John Doe"
                        autocomplete="name" required {{with .Form.Get "name" }}value="{{.}}" {{end}}>
                </div>
                {{with .Errors.name}}
                <p class="note error">{{.}}</p>
                {{end}}
            </div>
            <div class="form-group  {{if .Errors.email}}errored{{end}}">
                <div class="form-group-header">
                    <label for="email">Email</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control input-block" type="email" name="email" id="email"
                        placeholder="example@email.com" required autocomplete="email" {{with .Form.Get "email"
                        }}value="{{.}}" {{end}}>
                </div>
                {{with .Errors.email}}
                <p class="note error">{{.}}</p>
                {{end}}
            </div>
            <div class="form-group  {{if .Errors.name}}password{{end}}">
                <div class="form-group-header">
                    <label for="password">Password</label>
                </div>
                <div class="form-group-body">
                    <input maxlength="64" minlength="6" class="form-control input-block" type="password" name="password"
                        id="password" required autocomplete="new-password" {{with .Form.Get "password" }}value="{{.}}"
                        {{end}}>
                </div>
                {{with .Errors.password}}
                <p class="note error">{{.}}</p>
                {{end}}
            </div>
            <div class="form-group  {{if .Errors.password_confirmation}}errored{{end}}">
                <div class="form-group-header">
                    <label for="password_confirmation">Confirm Password</label>
                </div>
                <div class="form-group-body">
                    <input class="form-control input-block" type="password" name="password_confirmation"
                        id="password_confirmation" required autocomplete="new-password" {{with
                        .Form.Get "password_confirmation" }}value="{{.}}" {{end}}>
                </div>
                {{with .Errors.password_confirmation}}
                <p class="note error">{{.}}</p>
                {{end}}
            </div>


            {{template "_csrf" .}}
            {{template "_captcha" .}}
            <div class="form-actions">
                <input type="submit" value="Create my account →" name="submit" class="btn btn-primary btn-block">
            </div>
            <div class="form-actions text-center">
                Have an account? <a href="/login"> Sign In</a>
            </div>
        </form>
    </div>
</div>
{{end}}