{{define "_content"}}
<div class="container-md Box ">
    <div class="Box-header ">
        Register a VINCE account
    </div>
    <div class="Box-body">
        <form action="/register" method="post">
            <label for="name">name</label>
            <input {{.InputField "name" }} class="form-control input-block" type="text" name="name" id="name"
                placeholder="John Doe" required>
            {{.Validate "name"}}
            <label for="email">email</label>
            <input {{.InputField "email" }} class="form-control input-block" type="email" name="email" id="email"
                placeholder="example@email.com" required>
            {{.Validate "email"}}
            <label for="password">password</label>
            <input {{.InputField "password" }} maxlength="64" minlength="6" class="form-control input-block"
                type="password" name="password" id="password" required>
            {{.Validate "password"}}
            <label for="password_confirmation">Confirm password</label>
            <input {{.InputField "password_confirmation" }} class="form-control input-block" type="password"
                name="password_confirmation" id="password_confirmation" required>
            {{.Validate "password_confirmation"}}
            {{template "_csrf" .}}
            {{template "_captcha" .}}
            <input type="submit" value="Create my account →" name="submit" class="btn btn-primary btn-block">
            <p class="login-callout mt-3">
                Have an account?<a href="/login"> Sign In</a>
            </p>
        </form>

    </div>
</div>
{{end}}