{{define "_content"}}
<div class="container-xl">
    <div class="container-lg">
        <div class="Layout">
            <div class="Layout-sidebar">
                <navigation-list>
                    <div class="pr-4">
                        <nav aria-label="User Setting">
                            <nav-list>
                                <div>
                                    <ul aria-label="Profile Settings" class="ActionListWrap">
                                        <li class="ActionListItem">
                                            <a href="" class="ActionListContent ActionListContent--visual16">
                                                <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                    {{Icon "person" 16
                                                    "ActionListItem-visual ActionListItem-visual--leading"}}
                                                </span>
                                                <span class="ActionListItem-label">
                                                    Public Profile
                                                </span>
                                            </a>
                                        </li>
                                        <li class="ActionListItem">
                                            <a href="" class="ActionListContent ActionListContent--visual16">
                                                <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                    {{Icon "gear" 16
                                                    "ActionListItem-visual ActionListItem-visual--leading"}}
                                                </span>
                                                <span class="ActionListItem-label">
                                                    Account
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <li class="ActionList-sectionDivider"></li>
                                <div>
                                    <div class="ActionList-sectionDivider">
                                        <h3 class="ActionList-sectionDivider-title">
                                            Access
                                        </h3>
                                    </div>
                                    <ul class="ActionListWrap">
                                        <li class="ActionListItem">
                                            <a href="" class="ActionListContent ActionListContent--visual16">
                                                <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                    {{Icon "credit-card" 16
                                                    "ActionListItem-visual ActionListItem-visual--leading"}}
                                                </span>
                                                <span class="ActionListItem-label">
                                                    Billing
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav-list>
                        </nav>
                    </div>
                </navigation-list>
            </div>
            <div class="Layout-main"></div>
        </div>
    </div>
</div>
{{end}}