{{define "main"}}
<form action="/v1/share/{{.domain|path_escape}}/authenticate/{{.slug}}" method="post"
    class="max-w-md w-full mx-auto bg-white dark:bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-8">
    {{with .csrf}}<input type="hidden" name="_csrf" value="{{.}}">{{end}}
    <div class="my-4 dark:text-gray-100">
        This link is password-protected. Please enter the password to continue to the dashboard.
    </div>
    <div class="my-6">
        <label for="password" class="block text-sm font-bold">Password</label>
        <input type=" password" name="password" id="password" required
            class="transition mt-3 bg-gray-100  outline-none appearance-none border border-transparent rounded w-full p-2 text-gray-700 leading-normal focus:outline-none focus:bg-white dark:focus:bg-gray-800 focus:border-gray-300">
            {{with .error}}<div class="text-red-500 text-xs italic mt-4">{{.}}</div>{{end}}
    </div>
    <input type="submit" value="Continue" class="button mt-4 w-full">
</form>
{{end}}