{{define "main"}}
{{if .seen_first_stats}}
<div class="{{if .embedded}}max-w-screen-xl mx-auto px-6{{else}}container print:max-w-full{{end}}"
    data-site-domain="{{.site.domain}}">
  <div class="pt-6"></div>

    <div 
    id="stats-react-container" 
    style="overflow-anchor: none;"
    data-domain="{{.site.domain}}"
    data-offset="0"
    data-revenue-goals="[]"
    data-has-goals="{{if .site.goals}}true{{else}}false{{end}}"
    data-conversions-opted-out="false"
    data-props-opted-out="true"
    data-conversions-available="true"
    data-flags="{}"
    data-funnels="[]"
    {{if .current_user}}
    data-logged-in="true"
    data-current-user-role="owner"
    {{end}}
    {{with .auth}}
    data-shared-link-auth="{{.}}"
    {{end}}
    data-valid-intervals-by-period="{&quot;12mo&quot;:[&quot;day&quot;,&quot;week&quot;,&quot;month&quot;],&quot;30d&quot;:[&quot;day&quot;,&quot;week&quot;],&quot;6mo&quot;:[&quot;day&quot;,&quot;week&quot;,&quot;month&quot;],&quot;7d&quot;:[&quot;hour&quot;,&quot;day&quot;],&quot;all&quot;:[&quot;week&quot;,&quot;month&quot;],&quot;custom&quot;:[&quot;day&quot;,&quot;week&quot;,&quot;month&quot;],&quot;day&quot;:[&quot;minute&quot;,&quot;hour&quot;],&quot;month&quot;:[&quot;day&quot;,&quot;week&quot;],&quot;realtime&quot;:[&quot;minute&quot;],&quot;year&quot;:[&quot;day&quot;,&quot;week&quot;,&quot;month&quot;]}"
    >

    </div>
    <div id="modal_root"></div>
    {{if not .current_user}}
    {{if .demo}}
    <div class="bg-gray-50">
      <div class="py-12 lg:py-16 lg:flex lg:items-center lg:justify-between">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 leading-9 sm:text-4xl sm:leading-10">
          Want these stats for your website? <br />
          <span class="text-rose-600">Deploy vince under minutes.</span>
        </h2>
        <div class="flex mt-8 lg:flex-shrink-0 lg:mt-0">
          <div class="inline-flex shadow rounded-md">
            <a
              href="https://www.vinceanalytics.com/blog/deploy-local/"
              class="inline-flex items-center justify-center px-5 py-3 text-base font-medium  bg-rose-300 border border-transparent leading-6 rounded-md hover:bg-rose-400 focus:outline-none focus:ring transition duration-150 ease-in-out"
            >
              Get started
            </a>
          </div>
          <div class="inline-flex ml-3 shadow rounded-md">
            <a
              href="https://www.vinceanalytics.com/categories/guides/"
              class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-rose-600 bg-white border border-transparent leading-6 rounded-md   hover:text-rose-500  focus:outline-none focus:ring transition duration-150 ease-in-out"
            >
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>
    {{end}}
    {{end}}
</div>
<script type="text/javascript" src="/public/js/dashboard.js"></script>
{{else}}
<script>
  function updateStatus() {
    fetch("/api/{{.site.domain|path_escape}}/status")
    .then(function(res) { return res.json() })
      .then(function(status) {
        if (status === "READY") {
          window.location.reload()
        }
      })
  }

  setInterval(updateStatus, 5000)
</script>
<div
  class="bg-white dark:bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-16 relative text-center"
>
  <h2 class="text-xl font-bold dark:text-gray-100">Waiting for first pageview</h2>
  <h2 class="text-xl font-bold dark:text-gray-100">on {{.site.domain}}</h2>
  <div class="my-44">
    <div class="block pulsating-circle top-1/2 left-1/2"></div>
    <p class="text-gray-600 dark:text-gray-400 text-xs absolute left-0 bottom-0 mb-6 w-full text-center leading-normal">
      Need to see the snippet again?
      <a href="/{{.site.domain|path_escape}}/snippet" 
      class="inline-flex items-center gap-x-0.5 text-rose-600 hover:text-rose-700 dark:text-rose-500 dark:hover:text-rose-600"
      target="_blank"
      >
      Click here
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    </a>
    </p>
  </div>
</div>
{{end}}
{{end}}