{{$ctx := .}}

{{define "_content"}}
<div>
    {{range .SitesOverview}}
    <div class="siteOverview">
        <div id="{{.Site.ID}}" class="spark">
        </div>
        <div class="container-md">
            <h1>
                <a href="/{{.Site.SafeDomain}}/stats">{{.Site.SafeDomain}}</a>
                <div class="viewsText" style="color: var(--color-blurple);">20k <span
                        class="text-normal f6-mktg color-fg-muted">Views</span>
                </div>
            </h1>
        </div>
        {{.Plot.SparkLine}}

    </div>
    {{end}}
</div>
</div>
{{end}}