{{define "_content"}}
<div>
    <div class="container-md Box">
        <form action="/{{SafeDomain .Site}}/goals" method="post">
            <div class="Box-header">
                <h2>Add Goal for {{SafeDomain .Site}}</h2>
            </div>
            <div class="Box-body">
                <div class="text-sm text-bold"> Goal Trigger</div>
                <segmented-control data-catalyst="">
                    <ul aria-label="Goal Type Selection" role="list"
                        class="SegmentedControl SegmentedControl--fullWidth">
                        <li class="SegmentedControl-item SegmentedControl-item--selected" role="listitem"
                            data-targets="segmented-control.items">
                            <button data-action="click:segmented-control#select" aria-current="true" type="button"
                                id="event-tab" data-view-component="true"
                                class="Button--invisible Button--medium Button Button--fullWidth"> <span
                                    class="Button-content">
                                    <span class="Button-label">Custom Events</span>
                                </span>
                            </button>
                        </li>
                        <li class="SegmentedControl-item" role="listitem" data-targets="segmented-control.items">
                            <button data-action="click:segmented-control#select" aria-current="false" type="button"
                                data-view-component="true" id="pageview-tab"
                                class="Button--invisible Button--medium Button Button--fullWidth"> <span
                                    class="Button-content">
                                    <span class="Button-label">Page Views</span>
                                </span></button>
                        </li>
                    </ul>
                </segmented-control>
                <div class=" my-3">
                    <div id="event-fields">
                        <div class="form-group">
                            <div class="form-group-header">
                                <label for="event_name"> Event name</label>
                            </div>
                            <div class="form-group-body">
                                <input type="text" name="event_name" id="event_name" placeholder="SignUp"
                                    class="form-control input-block border rounded">
                            </div>
                        </div>
                    </div>
                    <div id="pageview-fields" class="d-none">
                        <div class="form-group">
                            <div class="form-group-header">
                                <label for="page_path"> Page path </label>
                            </div>
                            <div class="form-group-body">
                                <input type="text" name="page_path" id="page_path" placeholder="/success"
                                    class="form-control input-block">
                            </div>
                        </div>
                    </div>
                </div>
                {{template "_csrf" .}}
                <input type="submit" class="btn btn-primary mt-4 btn-block" value="Add goal →">
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById('pageview-tab').onclick = function () {
        document.getElementById('pageview-fields').classList.remove('d-none')
        document.getElementById('event-fields').classList.add('d-none')
        document.getElementById('event_name').value = ''
    }
    document.getElementById('event-tab').onclick = function () {
        document.getElementById('event-fields').classList.remove('d-none')
        document.getElementById('pageview-fields').classList.add('d-none')
        document.getElementById('page_path').value = ''
    }
</script>
{{end}}