{{define "_content"}}
{{$site := .Site}}
{{$ctx := .}}
<div class="container-md">
    <div class="Subhead Subhead--spacious text-center settingsDivider">
        <h2 class="Subhead-heading">Site Settings</h2>
        <div class="Subhead-description">{{.Site.Domain}}</div>
    </div>

    <div class="Subhead border-0">
        <h2 class="Subhead-heading">Javascript Snippet </h2>
        <div class="Subhead-description">
            Include this snippet in the <code>&lt;head&gt;</code> of your website.
        </div>
    </div>
    <div class="Box pt-3">
        <div class="Box-body">
            <div class="markdown-body">
                <pre><code>{{.Snippet}}</code></pre>
            </div>
        </div>
    </div>

    <div class="Subhead border-bottom-0 border-top pt-3 mt-3 settingsDivider">
        <h2 class="Subhead-heading" id="people">People</h2>
        <div class="Subhead-description">Invite your friends or coworkers</div>
        <div class="Subhead-action">
            <a class="btn btn-primary" href="/sites/{{SafeDomain .Site}}/memberships/invite">
                {{Icon "plus" 16}}
                <span>Invite</span>
            </a>
        </div>
    </div>
    <div class="Box pt-3">
        <div class="Box-body">
            <div class="Box">
                {{range .Site.SiteMemberships}}
                <div class="Box-row">
                    <div class="d-flex flex-items-center">
                        <div class="flex-shrink-0 p-3">
                            {{Avatar .User.ID 64 "rounded-full"}}
                        </div>
                        <div class="flex-1">
                            <h1 class="text-normal lh-condensed">
                                {{.User.Name}}
                            </h1>
                            <p class="h4 color-fg-muted text-normal mb-2">
                                {{.User.Email}}
                            </p>
                        </div>
                        <details class="details-reset details-overlay position-relative mt-1 mt-lg-0 mr-1"
                            id="type-options">
                            <summary aria-haspopup="menu" data-view-component="true" class="Label Label--large"
                                role="button"> <span>{{.Role}}</span>
                                <span class="dropdown-caret"></span>
                            </summary>
                            <details-menu class="SelectMenu right-lg-0" role="menu">
                                <div class="SelectMenu-modal">
                                    <header class="SelectMenu-header">
                                        <span class="SelectMenu-title">Change Role</span>
                                    </header>
                                    <div class="SelectMenu-list">
                                        <div class="SelectMenu-item" role="menuitemradio" aria-checked="true"
                                            tabindex="0">
                                            {{Icon "check" 16 "SelectMenu-icon SelectMenu-icon--check"}}
                                            <span class="text-normal">{{.Role}}</span>
                                        </div>
                                    </div>
                                </div>
                            </details-menu>
                        </details>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <div class="Subhead border-bottom-0 border-top pt-3 mt-3 settingsDivider">
        <h2 class="Subhead-heading" id="visibility">Visibility</h2>
    </div>
    <div class="Box color-border-danger">
        <div class="Box-row d-flex flex-items-center">
            <div class="flex-auto mb-md-0 mb-2">
                <strong>
                    Change site visibility
                </strong>
                <p class="mb-0">
                    This site is currently {{if .Site.Public}}public{{else}}private{{end}}
                </p>
            </div>
            <div class="flex-md-order-1 flex-order-2">
                <send-form>
                    <button type="button" class=" Button--danger Button--medium Button" data-target="send-form.link"
                        data-to="/sites/{{SafeDomain .Site}}/make-{{if .Site.Public}}private{{else}}public{{end}}"
                        data-method="post" data-action="click:send-form#send" data-csrf="{{.CSRF}}">
                        <span class="Button-content">
                            <span class="Button-label"> change to {{if .Site.Public}}private{{else}}public
                                {{end}}</span>
                        </span>
                    </button>
                </send-form>
            </div>
        </div>
    </div>
    <div class="Subhead border-bottom-0 border-top pt-3 mt-3 settingsDivider">
        <h2 class="Subhead-heading">Shared Links</h2>
        <div class="Subhead-description">Generate links to share stats with your team</div>
        <div class="Subhead-action">
            <a class="btn btn-primary" href="/sites/{{SafeDomain .Site}}/shared-links/new">
                {{Icon "plus" 16}}
                <span>Add Link</span>
            </a>
        </div>
    </div>
    <div class="Box">
        {{range .Site.SharedLinks}}
        <div class="Box-row">
            <div class="f4 d-flex width-full flex-items-baseline">
                <div class="col-10 snippet pr-2">
                    <pre><code>{{$ctx.SharedLinkURL $site .}}</code></pre>
                </div>
                <div class="col-2 ">
                    <send-form>
                        <button type="button" class=" btn btn-danger"
                            data-to="/sites/{{SafeDomain $site}}/shared-links/{{.Slug}}/delete" data-method="post"
                            data-action="click:send-form#send" data-csrf="{{$ctx.CSRF}}" data-target="send-form.link">
                            Remove
                        </button>
                    </send-form>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="Subhead border-bottom-0 border-top pt-3 mt-3 settingsDivider">
        <h2 class="Subhead-heading" id="goals">Goals</h2>
        <div class="Subhead-description">You can start creating your goals now.</div>
        <div class="Subhead-action">
            <a class="btn btn-primary" href="/{{SafeDomain .Site}}/goals/new">
                {{Icon "plus" 16}}
                <span>Add goal</span>
            </a>
        </div>
    </div>
    <div class="Box">
        {{range .Goals}}
        <div class="Box-row">
            <div class="f4 d-flex width-full flex-items-baseline  lh-condensed text-bold color-fg-default">
                <div class="col-10">
                    <span class="text-bold  d-inline-block">
                        {{GoalName .}}
                    </span>
                </div>
                <div class="col-2">
                    <send-form>
                        <button type="button" class=" btn btn-danger"
                            data-to="/{{SafeDomain $site}}/goals/{{.ID}}/delete" data-method="post"
                            data-action="click:send-form#send" data-csrf="{{$ctx.CSRF}}" data-target="send-form.link">
                            Remove
                        </button>
                    </send-form>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="Subhead border-bottom-0 border-top pt-3 mt-3 settingsDivider">
        <h2 class="Subhead-heading">Danger Zone</h2>
    </div>
    <Div class="Box color-border-danger">
        <div class="Box-row d-flex flex-items-center">
            <div class="flex-auto mb-md-0 mb-2">
                <strong>
                    Delete this Site
                </strong>
                <p class="mb-0">
                    There is no way to recover this action.
                </p>
            </div>
            <div class="flex-md-order-1 flex-order-2">
                <send-form>
                    <button type="button" class=" Button--danger Button--medium Button" data-csrf="{{.CSRF}}"
                        data-method="post" data-to="/{{SafeDomain .Site}}/delete" data-target="send-form.link"
                        data-action="click:send-form#send">
                        <span class="Button-content">
                            <span class="Button-label">Delete this site</span>
                        </span>
                    </button>
                </send-form>
            </div>
        </div>
    </Div>
</div>
{{end}}