{{define "_content"}}
<div class="container-xl">
    <div class="Layout">
        <div class="Layout-sidebar">
            {{template "_site_settings_nav" .}}
        </div>
        <div class="Layout-main">
            <div class="Box">
                <div class="Box-row">
                    <div class="container-md text-center">
                        <div class="Box">
                            <div class="Box-header ">
                                <h1>
                                    JavaScript snippet
                                </h1>
                            </div>
                            <div class="Box-body">
                                <h3>
                                    Include this snippet in the <code>&lt;head&gt;</code> of your website.</p>
                                </h3>
                                <div class="markdown-body">
                                    <pre><code>{{.Snippet}}</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}