<div class="w-full max-w-3xl mt-4 mx-auto flex">
    <form action="/register" method="post"
        class="w-full max-w-md mx-auto bg-white shadow-md rounded px-8 py-6 mb-4 mt-8" id="register-form">
        <h2 class="text-xl font-black">Enter your details</h2>
        <div class="my-4">
            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Full Name</label>
            <input type="text" name="name" id="name" placeholder="John Doe"
                class="transition bg-gray-100 appearance-none border border-transparent rounded w-full p-2 text-gray-700 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-300">
        </div>
        <div class="my-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">email</label>
            <p class="text-gray-600 text-xs mt-1 mb-2">No spam, guaranteed.</p>
            <input type="email" name="email" id="email" placeholder="example@email.com"
                class="transition bg-gray-100 appearance-none border border-transparent rounded w-full p-2 text-gray-700 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-300">
        </div>
        <input type="submit" value="Register →" class="button mt-4 w-full">
        <p class="text-center text-gray-600 text-xs mt-4">
            Already have an account? <a href="/login" class="underline text-gray-800">Login</a> instead
        </p>
    </form>
</div>