{{define "_flash"}}
{{$root:=.}}
{{with .Flash}}
<div class="flash-messages">
    {{range .Success}}
    <div class="Box ">
        <div class="flash flash-full flash-success">
            {{$root.Icon "check" 16}}
            <span>{{.}}</span>
        </div>
    </div>
    {{end}}
    {{range .Warn}}
    <div class="Box ">
        <div class="flash flash-full flash-warn">
            {{$root.Icon "alert" 16}}
            <span>{{.}}</span>
        </div>
    </div>
    {{end}}
    {{ range .Error}}
    <div class="Box ">
        <div class="flash flash-full flash-error">
            <span>{{.}}</span>
        </div>
    </div>
    {{end}}
    {{end}}
</div>

{{end}}