{{define "_captcha"}}
{{if .Captcha}}
<div class="form-group {{if .Errors.captcha}}errored{{end}}">
    <div class="form-group-header">
        <label for="captcha">Captcha</label>
    </div>
    <div class="form-group-body">
        <div class="width-full">
            <img {{.Captcha}} class="img-responsive" />
        </div>
        <input type="text" name="_captcha" class="form-control input-block"
            placeholder="write the number displayed above" required>
        {{with .Errors.captcha}}
        <p class="note error">{{.}}</p>
        {{end}}
    </div>
</div>
{{end}}
{{end}}