{{define "_flash"}}
{{$root:=.}}
{{with .Flash}}
<div class="flash-messages">
    {{range .Success}}
    <div class="Box ">
        <div class="flash flash-full flash-success">
            <div class="container-md">
                {{Icon "check" 16}}
                <span>{{.}}</span>
            </div>
        </div>
    </div>
    {{end}}
    {{range .Warn}}
    <div class="Box ">
        <div class="flash flash-full flash-warn">
            <div class="container-md">
                {{Icon "alert" 16}}
                <span>{{.}}</span>
            </div>

        </div>
    </div>
    {{end}}
    {{ range .Error}}
    <div class="Box ">
        <div class="flash flash-full flash-error">
            <div class="container-md">
                <span>{{.}}</span>
            </div>
        </div>
    </div>
    {{end}}
    {{end}}
</div>

{{end}}