{{define "focus"}}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A convincing  alternative to Google Analytics." />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>
        VINCE ANALYTICS | {{if .Title }}{{.Title}}{{else }}{{.Slogan}}{{end}}
    </title>
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/primer_view_components.css" />
    <script defer="defer" type="application/javascript" src="/js/primer_view_components.js"></script>
</head>

<body class="d-flex flex-column height-full">
    <div class="width-full my-4 text-center">
        <a href="/">
            {{.Logo 160 100}}
        </a>
    </div>
    {{block "_flash" .}}{{end}}
    {{block "_content" .}}{{end}}
    <p class="text-center text-small lead"> ©Vince Analytics. All rights reserved</p>
</body>

</html>
{{end }}