<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A convincing  alternative to Google Analytics." />
    <title>
        {{block "_title"}} VINCE - a convincing alternative to google analytics {{end}}
    </title>
</head>

<body class="d-flex flex-column height-full">
    <div class="width-full my-8 text-center">
        <a href="/" class="logo">VINCE</a>
    </div>
    {{block "_flash"}}{{end}}
    {{block "_content"}} {{end}}
    <p class="text-center text-small lead"> ©Vince Analytics. All rights reserved</p>
</body>

</html>