{{define "_footer"}}
<footer class="footer width-full container-xl p-responsive">
    <h2 class="sr-only">Footer</h2>
    <div
        class="position-relative d-flex flex-items-center pb-2 f6 color-fg-muted border-top color-border-muted flex-column-reverse flex-lg-row flex-wrap flex-lg-nowrap mt-6 pt-6">
        <div
            class="list-style-none d-flex flex-wrap col-0 col-lg-2 flex-justify-start flex-lg-justify-between mb-2 mb-lg-0">
            <div class="mt-2 mt-lg-0 d-flex flex-items-center">
                <a aria-label="Homepage" title="GitHub" class="footer-octicon mr-2" href="/">
                    <span class="logo-footer">
                        v
                    </span>
                </a> <span>
                    © 2023 VINCE.
                </span>
            </div>
        </div>

        <nav aria-label="footer" class="col-12 col-lg-8">
            <h3 class="sr-only" id="sr-footer-heading">Footer navigation</h3>
            <ul class="list-style-none d-flex flex-wrap col-12 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0"
                aria-labelledby="sr-footer-heading">
                <li class="mr-3 mr-lg-0"><a>Terms</a>
                </li>
                <li class="mr-3 mr-lg-0"><a>Privacy</a>
                </li>
                <li class="mr-3 mr-lg-0"><a>Security</a></li>
                <li class="mr-3 mr-lg-0"><a>Status</a>
                </li>
                <li class="mr-3 mr-lg-0"><a>Docs</a></li>
                <li class="mr-3 mr-lg-0"><a>Contact
                        GitHub</a></li>
                <li class="mr-3 mr-lg-0"><a>Pricing</a>
                </li>
                <li class="mr-3 mr-lg-0"><a>API</a>
                </li>
                <li class="mr-3 mr-lg-0"><a>Training</a>
                </li>
                <li class="mr-3 mr-lg-0"><a>Blog</a>
                </li>
                <li><a>About</a></li>
            </ul>
        </nav>
    </div>

    <div class="d-flex flex-justify-center pb-6">
        <span class="f6 color-fg-muted"></span>
    </div>
</footer>

{{end}}