{{define "_footer"}}
<footer class="footer width-full">
    <nav class="container-md footer__nav">
        <a class="footer__nav-item" href="/creators">creators</a>
        <a class="footer__nav-item" href="/agencies">agencies</a>
        <a class="footer__nav-item" href="/ecommerce">ecommerce</a>
        <a class="footer__nav-item" href="/blog">blog</a>
        <a class="footer__nav-item" href="/docs">docs</a>
        <a class="footer__nav-item" href="/about">about</a>
        <a class="footer__nav-item" href="/contact">contact</a>
        <a class="footer__nav-item" href="/privacy">privacy</a>
        <a class="footer__nav-item" href="/data">data policy</a>
        <a class="footer__nav-item" href="/terms">terms</a>
    </nav>
    <p class="text-xs" style="margin-top: 2em;">
        <em>Copyright ©2023
            VINCE ANALYTICS . All rights reserved.</em>
    </p>
</footer>
{{end}}