{{define "_header"}}
{{if .Docs}}
<nav class="UnderlineNav UnderlineNav--full UnderlineNav--right">
    <div class="container-lg UnderlineNav-container">
        <div class="UnderlineNav-actions">
            <a href="{{if .Docs}}/docs{{else}}/{{end}}">
                {{.Logo 120 60}}
            </a>
        </div>
        <div class="UnderlineNav-body">
            <a href="/" class="UnderlineNav-item" aria-current="page">
                website
            </a>
        </div>
    </div>
</nav>
{{else if not .CurrentUser}}
<div class="position-relative">
    <header class=" header Details px-3 px-md-4 px-lg-5 flex-wrap flex-md-nowrap">
        <nav class="UnderlineNav UnderlineNav--full UnderlineNav--right">
            <div class="container-lg UnderlineNav-container">
                <div class="UnderlineNav-actions">
                    <a href="{{if .Docs}}/docs{{else}}/{{end}}">
                        {{.Logo 120 60}}
                    </a>
                </div>
                <div class="UnderlineNav-body">
                    {{if not .CurrentUser}}
                    <a class="UnderlineNav-item" href="/pricing" {{if eq .Page "pricing" }}aria-current="page"
                        {{end}}>Pricing</a>
                    <a class="UnderlineNav-item" href="/login">Sign In</a>
                    <a class="UnderlineNav-item color-fg-success" href="/register" {{if not .Page }}aria-current="page"
                        {{end}}>
                        Try for free
                    </a>
                    {{else}}
                    <a class="UnderlineNav-item" href="/sites" {{if eq .Page "sites" }}aria-current="page" {{end}}>
                        {{.Icon "repo" 16 "SideNav-icon"}}
                        <span class="menu-link">sites</span>
                    </a>
                    <a class="UnderlineNav-item menu-link" href="/sites/new" {{if eq .Page "add_site"
                        }}aria-current="page" {{end}}>
                        {{.Icon "plus" 16 "SideNav-icon"}}
                        <span class="menu-link">add site </span>
                    </a>
                    <a class="UnderlineNav-item" href="/pricing">
                        {{.Icon "key" 16 "SideNav-icon"}}
                        <span class="menu-link">buy a plan </span>
                    </a>
                    <a class="UnderlineNav-item" href="/pricing">
                        {{.Icon "book" 16 "SideNav-icon"}}
                        <span class="menu-link"> docs </span>
                    </a>
                    {{end}}
                </div>
            </div>
        </nav>
    </header>
</div>
{{else if .CurrentUser}}
<div class="header">
    <div class="logo-fixed">
        <a href="{{if .Docs}}/docs{{else}}/{{end}}">
            {{.Logo 120 24}}
        </a>
    </div>
    <nav class="siteNav">
        <ul>
            <li>
                <a href="">
                    <a href="/sites">
                        {{.Icon "repo" 24}}
                        <span>sites </span>
                    </a>
                </a>
            </li>
            <li>
                <a href="/sites/new">
                    {{.Icon "plus" 24}}
                    <span> add site </span>
                </a>
            </li>
            <li>
                <a href="">
                    {{.Icon "key" 24}}
                    <span>upgrade </span>
                </a>
            </li>
            <li>
                <a href="/docs">
                    {{.Icon "key" 24}}
                    <span>docs </span>
                </a>
            </li>
            <li>
                <a href="">
                    {{.Icon "person" 24 }}
                    <span>account </span>
                </a>
            </li>
            <li>
                <a href="">
                    {{.Icon "link-external" 24 }}
                    <span>sign out </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{{end}}
{{end}}