{{define "_header"}}
{{if not .CurrentUser}}
<nav class="UnderlineNav UnderlineNav--full UnderlineNav--right">
    <div class="container-lg UnderlineNav-container">
        <div class="UnderlineNav-actions">
            <a href="/">
                {{Logo 120 60}}
            </a>
        </div>
        <div class="UnderlineNav-body">
            <a class="UnderlineNav-item" href="/login">Sign In</a>
            <a class="UnderlineNav-item color-fg-success" href="/register" {{if not .Page }}aria-current="page" {{end}}>
                Register
            </a>
        </div>
    </div>
</nav>
{{else}}
<div class="header">
    <nav class="siteNav">
        <ul>
            <li>
                <a href="/sites">
                    {{Icon "repo" 24}}
                    <span>sites </span>
                </a>
            </li>
            <li>
                <a href="/sites/new">
                    {{Icon "plus" 24}}
                    <span> add site </span>
                </a>
            </li>
            <li>
                <a href="">
                    {{Icon "key" 24}}
                    <span>upgrade </span>
                </a>
            </li>
            <li>
                <a href="/settings">
                    {{Icon "gear" 24 }}
                    <span>settings </span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    {{Icon "link-external" 24 }}
                    <span>sign out </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{{end}}
{{end}}