{{define "_notice"}}
{{template "_flash" .}}
{{if .CurrentUser}}
<div class="width-full container-md">
    {{if .CurrentUser.GracePeriod.Active}}
    <div class="flash  flash-warn">
        {{if .CurrentUser.EnterprisePlan}}
        You have outgrown your VINCE subscription tier
        {{else}}
        Please upgrade your account
        {{end}}
        <a href="/upgrade" class="btn btn-sm flash-action">Upgrade now →</a>
    </div>
    {{end}}

    {{if .CurrentUser.GracePeriod.Expired}}
    <div class="flash  flash-warn">
        Dashboard locked
        <a href="/upgrade" class="btn btn-sm flash-action">
            Upgrade now →
        </a>
    </div>
    {{end}}
    {{if .CurrentUser.Subscription }}
    {{if eq .CurrentUser.Subscription.Status "past_due"}}
    <div class="flash  flash-warn">
        There was a problem with your latest payment. Please update your payment information to keep using VINCE
        <a href="{{.CurrentUser.Subscription.UpdateURL}}" class="btn btn-sm flash-action">Update billing info →</a>
    </div>
    {{end}}
    {{if .CurrentUser.Subscription.CheckStatus "paused"}}
    <div class="flash  flash-warn">
        Your subscription is paused due to failed payments. Please provide valid payment details to keep using
        VINCE.
        <a href="{{.CurrentUser.Subscription.UpdateURL}}" class="btn btn-sm flash-action">Update billing info →</a>
    </div>
    {{end}}
    {{end}}
</div>
{{end}}
{{end}}