{{define "plain"}}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A convincing  alternative to Google Analytics." />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>
        VINCE ANALYTICS | {{if .Title }}{{.Title}}{{else }}{{.Slogan}}{{end}}
    </title>
    <link rel="stylesheet" href="/css/app.css" />
    {{if not .Docs}}
    <link rel="stylesheet" href="/css/primer_view_components.css" />
    <link rel="stylesheet" href="/css/uPlot.min.css" />
    <script defer="defer" type="application/javascript" src="/js/primer_view_components.js"></script>
    <script type="application/javascript" src="/js/uPlot.iife.min.js"></script>
    {{end}}
</head>

<body>
    <nav class="UnderlineNav UnderlineNav--full UnderlineNav--right">
        <div class="container-lg UnderlineNav-container">
            <div class="UnderlineNav-actions">
                <a href="{{if .Docs}}/docs{{else}}/{{end}}">
                    {{Logo 120 60}}
                </a>
            </div>
            <div class="UnderlineNav-body">
                <a class="UnderlineNav-item" href="/pricing" {{if eq .Page "pricing" }}aria-current="page"
                    {{end}}>Pricing</a>
                <a class="UnderlineNav-item" href="/login">Sign In</a>
                <a class="UnderlineNav-item color-fg-success" href="/register" {{if not .Page }}aria-current="page"
                    {{end}}>
                    Try for free
                </a>
            </div>
        </div>
    </nav>
    <main>
        {{block "_content" .}}{{end}}
    </main>
    {{block "_footer" .}}{{end}}
</body>

</html>
{{end}}