{{define "user_settings"}}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A convincing  alternative to Google Analytics." />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>
        VINCE ANALYTICS | {{if .Title }}{{.Title}}{{else }}{{.Slogan}}{{end}}
    </title>
    <link rel="stylesheet" href="/css/app.css" />
    {{if not .Docs}}
    <link rel="stylesheet" href="/css/primer_view_components.css" />
    <link rel="stylesheet" href="/css/uPlot.min.css" />
    <script defer="defer" type="application/javascript" src="/js/primer_view_components.js"></script>
    <script type="application/javascript" src="/js/uPlot.iife.min.js"></script>
    {{end}}
</head>

<body>
    {{block "_header" .}}{{end}}
    {{block "_notice" .}}{{end}}
    <main {{if not .Docs}} style="padding-top: 67px;" {{end}}>
        <div class="container-xl">
            <div class="d-flex flex-items-center flex-justify-between mt-1 mb-4">
                <div class="d-flex flex-items-center mb-2">
                    {{Avatar .CurrentUser.ID 48 "avatar circle mr-3"}}
                    <div class="flex-auto">
                        <h1 class="h3 lh-condensed">{{.CurrentUser.Name}}</h1>
                    </div>
                </div>

            </div>

            <div class="Layout">
                <div class="Layout-sidebar">
                    <navigation-list>
                        <div class="pr-4">
                            <nav aria-label="User Setting">
                                <nav-list>
                                    <div>
                                        <ul aria-label="Profile Settings" class="ActionListWrap">
                                            <li class="ActionListItem {{ActiveItem . " profile"}}">
                                                <a href="/settings/profile"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "person" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        Public Profile
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="ActionListItem {{ActiveItem . " account"}}">
                                                <a href="/settings/admin"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "gear" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        Account
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <li class="ActionList-sectionDivider"></li>
                                    <div>
                                        <div class="ActionList-sectionDivider">
                                            <h3 class="ActionList-sectionDivider-title">
                                                Access
                                            </h3>
                                        </div>
                                        <ul class="ActionListWrap">
                                            <li class="ActionListItem {{ActiveItem . " billing"}}">
                                                <a href="/settings/billing"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "credit-card" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        Billing
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="ActionListItem {{ActiveItem . " api_keys"}}">
                                                <a href="/settings/api-keys"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "lock" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        API Keys
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav-list>
                            </nav>
                        </div>
                    </navigation-list>
                </div>
                <div class="Layout-main">
                    {{block "_content" .}}{{end}}
                </div>
            </div>
        </div>
    </main>
    {{block "_footer" .}}{{end}}
</body>

</html>
{{end}}