{{define "user_settings"}}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    {{template "_head" .}}
</head>

<body>
    {{block "_header" .}}{{end}}
    {{block "_notice" .}}{{end}}
    <main>
        <div class="container-xl">
            <div class="d-flex flex-items-center flex-justify-between mt-3 mb-4">
                <div class="d-flex flex-items-center mb-2">
                    {{Avatar .CurrentUser.ID 48 "avatar circle mr-3"}}
                    <div class="flex-auto">
                        <h1 class="h3 lh-condensed">{{.CurrentUser.Name}}</h1>
                    </div>
                </div>
            </div>
            <div class="Layout">
                <div class="Layout-sidebar">
                    <navigation-list>
                        <div class="pr-4">
                            <nav aria-label="User Setting">
                                <nav-list>
                                    <div>
                                        <ul aria-label="Profile Settings" class="ActionListWrap">
                                            <li class="ActionListItem {{ActiveItem . " profile"}}">
                                                <a href="/settings/profile"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "person" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        Public Profile
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="ActionListItem {{ActiveItem . " account"}}">
                                                <a href="/settings/admin"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "gear" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        Account
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <li class="ActionList-sectionDivider"></li>
                                    <div>
                                        <div class="ActionList-sectionDivider">
                                            <h3 class="ActionList-sectionDivider-title">
                                                Access
                                            </h3>
                                        </div>
                                        <ul class="ActionListWrap">
                                            <li class="ActionListItem {{ActiveItem . " api_keys"}}">
                                                <a href="/settings/api-keys"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "lock" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        API Keys
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav-list>
                            </nav>
                        </div>
                    </navigation-list>
                </div>
                <div class="Layout-main">
                    {{block "_content" .}}{{end}}
                </div>
            </div>
        </div>
    </main>
    {{block "_footer" .}}{{end}}
</body>

</html>
{{end}}