{{define "site_settings"}}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    {{template "_head" .}}
</head>

<body>
    {{block "_header" .}}{{end}}
    {{block "_notice" .}}{{end}}
    <main>
        <div class="container-xl">
            <div class="Subhead mt-3">
                <h2 class="Subhead-heading">Settings for {{.Site.Domain}}</h2>
            </div>
            <div class="Layout">
                <div class="Layout-sidebar">
                    <navigation-list>
                        <div class="pr-4">
                            <nav aria-label="User Setting">
                                <nav-list>
                                    <div>
                                        <ul class="ActionListWrap">
                                            <li class="ActionListItem {{ActiveItem . " general"}}">
                                                <a href="/{{SafeDomain .Site}}/settings/general"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "gear" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        General
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="ActionListItem  {{ActiveItem . " goals"}}">
                                                <a href="/{{SafeDomain .Site}}/settings/goals"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "goal" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        Goals
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="ActionListItem {{ActiveItem . " people"}}">
                                                <a href="/{{SafeDomain .Site}}/settings/people"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "organization" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        People
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="ActionListItem {{ActiveItem . " visibility"}}">
                                                <a href="/{{SafeDomain .Site}}/settings/visibility"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "lock" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        Visibility
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="ActionListItem {{ActiveItem . " reports"}}">
                                                <a href="/{{SafeDomain .Site}}/settings/email-reports"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "mail" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        Reports
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="ActionListItem {{ActiveItem . " danger"}}">
                                                <a href="/{{SafeDomain .Site}}/settings/danger-zone"
                                                    class="ActionListContent ActionListContent--visual16">
                                                    <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                        {{Icon "alert-fill" 16
                                                        "ActionListItem-visual ActionListItem-visual--leading"}}
                                                    </span>
                                                    <span class="ActionListItem-label">
                                                        Danger zone
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav-list>
                            </nav>
                        </div>
                    </navigation-list>
                </div>
                <div class="Layout-main">
                    {{block "_content" .}}{{end}}
                </div>
            </div>
        </div>
    </main>
    {{block "_footer" .}}{{end}}
</body>

</html>
{{end}}Placeholder