{{define "_content"}}
<div class="container-lg">
    <div>
        <div class="Subhead mt-3" style="border-color: #ff5354;">
            <h2 class="Subhead-heading mt-3 mt-sm-0">April 26, 2023 <span class="dash">–</span> May 3, 2023</h2>
            <div class="Subhead-actions mt-3 mt-sm-0">
                <details data-view-component="true" class="dropdown details-overlay details-reset d-inline-block">
                    <summary role="button" data-view-component="true" class="btn">
                        <i>Period:</i>
                        Dropdown
                        {{Icon "triangle-down" 16 "ml-2 mr-n1"}}
                    </summary>
                    <div data-view-component="true">
                        <details-menu role="menu" data-view-component="true"
                            class="dropdown-menu select-menu-modal dropdown-menu-sw">
                            <div class="select-menu-header">
                                <div class="select-menu-title">
                                    Select time ranges
                                </div>
                            </div>
                            {{range Calendar}}
                            <a role="menuitem" data-view-component="true" class="dropdown-item select-menu-item">
                                <span class="select-menu-item-text">
                                    {{.Name}}
                                </span>
                            </a>
                            {{end}}
                        </details-menu>
                    </div>
                </details>
            </div>
        </div>
        <div class="Box">
            <div class="Box-header">
                <span class="h5">{{.Site.Domain}}</span>
            </div>
            <div class="Box-body">
                <div class="Box-row p-0">
                    <selection-list>
                        <ul class="list-style-none text-center d-flex">
                            <li class=" selectionItem col-3  border-right propertySelected"
                                data-targets="selection-list.items" id="unique_visitore" type="button"
                                data-action="click:selection-list#select">
                                <span class="d-block h4 color-fg-default">
                                    0
                                </span>
                                <span class="color-fg-muted">
                                    unique visitors
                                </span>
                            </li>
                            <li class="selectionItem col-3 border-right color-border-muted"
                                data-targets="selection-list.items" id="page_views" type="button"
                                data-action="click:selection-list#select">
                                <span class="d-block h4 color-fg-default">
                                    0
                                </span>
                                <span class="color-fg-muted">
                                    page views
                                </span>
                            </li>
                            <li class="selectionItem col-3 border-right color-border-muted"
                                data-targets="selection-list.items" id="sessions"
                                data-action="click:selection-list#select">
                                <span class="d-block h4 color-fg-default">
                                    0
                                </span>
                                <span class="color-fg-muted">
                                    sessions
                                </span>
                            </li>
                            <li class="selectionItem col-3  border-right color-border-muted"
                                data-targets="selection-list.items" id="bounce_rate" type="button"
                                data-action="click:selection-list#select">
                                <span class="d-block h4 color-fg-default">
                                    0
                                </span>
                                <span class="color-fg-muted">
                                    bounce rate
                                </span>
                            </li>
                            <li class="selectionItem col-3" data-targets="selection-list.items" id="duration"
                                type="button" data-action="click:selection-list#select">
                                <span class="d-block h4 color-fg-default">
                                    0
                                </span>
                                <span class="color-fg-muted">
                                    session duration
                                </span>
                            </li>
                        </ul>
                    </selection-list>

                </div>
                <div style="height: 400px;" class="width-full">
                </div>

            </div>
            <div class="Box-row">
                <div class="d-flex">
                    <div class="col-6 pr-3">
                        <div class="Box">
                            <div class="Box-row p-0">
                                <selection-list>
                                    <ul class="list-style-none text-center d-flex">
                                        <li class="selectionItem col-4 propertySelected"
                                            data-targets="selection-list.items" id="pages" type="button"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Pages
                                            </span>
                                        </li>
                                        <li class="selectionItem col-4 color-border-muted"
                                            data-targets="selection-list.items" id="entry_pages" type="button"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Entry Pages
                                            </span>
                                        </li>
                                        <li class="selectionItem col-4" data-targets="selection-list.items"
                                            id="exit_pages" data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Exit Pages
                                            </span>
                                        </li>
                                    </ul>
                                </selection-list>
                            </div>
                            <div class="Box-row">
                                a
                            </div>
                            <div class="Box-row">
                                b
                            </div>
                        </div>


                    </div>
                    <div class="col-6">
                        <div class="Box">
                            <div class="Box-row p-0">
                                <selection-list>
                                    <ul class="list-style-none text-center d-flex">
                                        <li class="selectionItem col-3 propertySelected"
                                            data-targets="selection-list.items" id="referrers" type="button"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Referrers
                                            </span>
                                        </li>
                                        <li class="selectionItem col-3 color-border-muted"
                                            data-targets="selection-list.items" id="sources" type="button"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Sources
                                            </span>
                                        </li>
                                        <li class="selectionItem col-3 color-border-muted"
                                            data-targets="selection-list.items" id="media" type="button"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Media
                                            </span>
                                        </li>
                                        <li class="selectionItem col-3" data-targets="selection-list.items"
                                            id="campaigns" data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Campaigns
                                            </span>
                                        </li>
                                    </ul>
                                </selection-list>
                            </div>
                            <div class="Box-row">
                                a
                            </div>
                            <div class="Box-row">
                                b
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Box-row">
                <div class="d-flex">
                    <div class="col-6 pr-3">
                        <div class="Box">
                            <div class="Box-header">
                                <h4 class="color-fg-muted">Conversion Goals</h4>
                            </div>
                            <div class="Box-row">
                                a
                            </div>
                            <div class="Box-row">
                                b
                            </div>
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="Box">
                            <div class="Box-header">
                                <h4 class="color-fg-muted">Events</h4>
                            </div>
                            <div class="Box-row">
                                a
                            </div>
                            <div class="Box-row">
                                b
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Box-row">
                <div class="d-flex">
                    <div class="col-6 pr-3">
                        <div class="Box">
                            <div class="Box-row p-0">
                                <selection-list>
                                    <ul class="list-style-none text-center d-flex">
                                        <li class="selectionItem col-4 propertySelected"
                                            data-targets="selection-list.items" id="countries" type="button"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Countries
                                            </span>
                                        </li>
                                        <li class="selectionItem col-4 color-border-muted"
                                            data-targets="selection-list.items" id="cities" type="button"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Cities
                                            </span>
                                        </li>
                                        <li class="selectionItem col-4" data-targets="selection-list.items" id="regions"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Regions
                                            </span>
                                        </li>
                                    </ul>
                                </selection-list>
                            </div>
                            <div class="Box-row">
                                a
                            </div>
                            <div class="Box-row">
                                b
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="Box">
                            <div class="Box-row p-0">
                                <selection-list>
                                    <ul class="list-style-none text-center d-flex">
                                        <li class="selectionItem col-4 propertySelected"
                                            data-targets="selection-list.items" id="os" type="button"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Os
                                            </span>
                                        </li>
                                        <li class="selectionItem col-4  color-border-muted"
                                            data-targets="selection-list.items" id="browsers" type="button"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Browsers
                                            </span>
                                        </li>
                                        <li class="selectionItem col-4" data-targets="selection-list.items" id="devices"
                                            data-action="click:selection-list#select">
                                            <span class="color-fg-muted">
                                                Devices
                                            </span>
                                        </li>
                                    </ul>
                                </selection-list>
                            </div>
                            <div class="Box-row">
                                a
                            </div>
                            <div class="Box-row">
                                b
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}