{{define "_content"}}
<div class="container-xl">
    <div class="Layout">
        <div class="Layout-sidebar">
            <navigation-list>
                <div>
                    <nav aria-label="Site Options">
                        <nav-list>
                            <ul class="ActionListWrap">
                                <li class="ActionListItem">
                                    <a href="/{{.Site.SafeDomain}}/settings"
                                        class="ActionListContent ActionListContent--visual16">
                                        <span class="ActionListItem-visual ActionListItem-visual--leading">
                                            {{Icon "gear" 16
                                            "ActionListItem-visual ActionListItem-visual--leading"}}
                                        </span>
                                        <span class="ActionListItem-label">
                                            Settings
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav-list>
                    </nav>
                </div>
            </navigation-list>
        </div>
        <div class="Layout-main">
            <div class="container-lg">
                <div class="Box">
                    <div class="Box-header">
                        {{.Site.Domain}}
                    </div>
                    <div class="Box-body">
                        <nav class="UnderlineNav UnderlineNav--full" aria-label="Foo bar">
                            <div class="container-lg UnderlineNav-container">
                                <div class="UnderlineNav-body">
                                    <a class="UnderlineNav-item px-3 SelectedStat" href="#url">
                                        Unique Visitors<span class="Counter">10</span>
                                    </a>
                                    <a class="UnderlineNav-item px-3" href="#url">
                                        Page Views <span class="Counter">10</span>
                                    </a>
                                    <a class="UnderlineNav-item px-3" href="#url">
                                        Sessions <span class="Counter">10</span>
                                    </a>
                                    <a class="UnderlineNav-item px-3" href="#url">
                                        Bounce Rate <span class="Counter">10</span>
                                    </a>
                                </div>
                                <div class="UnderlineNav-actions">
                                    <a class="btn btn-sm">Button</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{{end}}