<!DOCTYPE html>
<html lang="en" data-color-mode="light" data-light-theme="light_tritanopia">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A self hosted  google analytics alternative." />
    <title>
        Vince: Self hosted alternative to google analytics
    </title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body class="d-flex flex-column height-full ">
    <div class="blankslate mt-12">
        <h1 class="blankslate-heading">{{.Error.Status}}</h1>
        <p>{{.Error.StatusText}}</p>
        <div class="blankslate-action">
            <a href="/" class="btn btn-primary">Go home</a>
        </div>
    </div>
</body>

</html>