{{define "_content"}}
<div class="font-mktg">

    <div class="p-responsive container-xl text-center mt-7 mt-md-8 mt-lg-9 mb-5 mb-lg-9">
        <h1 class="h2-mktg">Down to earth pricing</h1>

        <div class="mt-4 mb-n5">
            <h2 class="h6-mktg mb-3">Billing is Yearly</h2>
        </div>

        <div></div>
        <div class="container-md">
            <div class="rounded-3 px-2 pt-5 pb-2 ">
                <ul class="d-lg-block flex-auto list-style-none text-left rounded-bottom-3 px-3 py-2">
                    <li>
                        <span class="px-2">{{.Icon "check" 24 "color-fg-success"}}</span>
                        <span class="serious-text">
                            50 websites
                        </span>
                    </li>
                    <li>
                        <span class="px-2">{{.Icon "check" 24 "color-fg-success"}}</span>
                        <span class="serious-text">
                            Unlimited team members
                        </span>
                    </li>
                    <li>
                        <span class="px-2">{{.Icon "check" 24 "color-fg-success"}}</span>
                        <span class="serious-text">
                            Unlimited data retention
                        </span>
                    </li>
                    <li>
                        <span class="px-2">{{.Icon "check" 24 "color-fg-success"}}</span>
                        <span class="serious-text">
                            Email reports
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <a class="btn-mktg d-block container-sm" href="/register">
            Try for free
        </a>
    </div>

    <div class="position-relative">
        <div class="p-responsive container-xl text-center">

            {{$first_row :=slice .Plans 0 3}}
            {{$second_row :=slice .Plans 3 6}}
            {{$third_row :=slice .Plans 6}}
            <div class="d-lg-flex flex-items-stretch gutter-lg-condensed text-center" data-hpc="">
                {{range $first_row}}
                <div class="col-lg-4 mb-3 mb-lg-0">
                    {{template "price_slot" .}}
                </div>
                {{end}}
            </div>
            <div class="d-lg-flex flex-items-stretch gutter-lg-condensed text-center" data-hpc="">
                {{range $second_row}}
                <div class="col-lg-4 mb-3 mb-lg-0">
                    {{template "price_slot" .}}
                </div>
                {{end}}
            </div>
            <div class="d-lg-flex flex-items-stretch gutter-lg-condensed text-center" data-hpc="">
                {{range $third_row}}
                <div class="col-lg-6 mb-3 mb-lg-0">
                    {{template "price_slot" .}}
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <div class="px-lg-3 my-8">
        <div class="z-1" data-color-mode="light" data-light-theme="light">
            <div class="position-relative overflow-hidden">
                <div class="position-relative z-1 container-xl p-responsive py-5 py-md-9">
                    <div class="px-md-6 px-lg-0 mb-8 mt-6 mt-md-8 mt-lg-12 position-relative z-1 ">
                        <div class="col-lg-8 mx-auto faq-mktg" id="faq">
                            <h2 class="color-fg-default mb-md-8 text-gradient-mint-blue pb-1 h2-mktg">Frequently
                                asked&nbsp;questions</h2>
                            <div class="position-relative faq-mktg-item"
                                id="what-are-the-differences-between-github-free-github-pro-github-team-and-github-enterprise-plans">
                                <details class="position-relative border-bottom">
                                    <summary class="position-relative list-style-none pl-4 py-4">
                                        <h3
                                            class="d-inline-block v-align-top mt-n1 col-11 ml-1 ml-lg-6 mb-0 f3-mktg text-semibold color-fg-default">
                                            Why your billing is yearly?
                                        </h3>
                                    </summary>
                                    <div
                                        class="ml-4 ml-lg-6 pl-1 pl-lg-4 mt-n3 mb-5 color-fg-muted f4-mktg position-relative z-1">
                                        <p>we are a small team committed to provide the best service to our customers
                                        </p>
                                        <p>Payments are processed manually, until we have automatic payment processor we
                                            will only accept
                                            yearly billing so we can spend more time on improving your experience than
                                            dealing with billing challenges </p>
                                    </div>
                                </details>
                                <div
                                    class="faq-mktg-item-hover-effect position-absolute bottom-0 left-0 width-full z-n1 border-bottom">
                                </div>
                            </div>

                            <div class="position-relative faq-mktg-item" id="how-do-i-view-and-manage-my-subscription">
                                <details class="position-relative border-bottom">
                                    <summary class="position-relative list-style-none pl-4 py-4">
                                        <h3
                                            class="d-inline-block v-align-top mt-n1 col-11 ml-1 ml-lg-6 mb-0 f3-mktg text-semibold color-fg-default">
                                            What support do you provide ?
                                        </h3>
                                    </summary>
                                    <div
                                        class="ml-4 ml-lg-6 pl-1 pl-lg-4 mt-n3 mb-5 color-fg-muted f4-mktg position-relative z-1">
                                        <p>
                                            Only email support is provided.
                                        </p>

                                    </div>
                                </details>
                                <div
                                    class="faq-mktg-item-hover-effect position-absolute bottom-0 left-0 width-full z-n1 border-bottom">
                                </div>
                            </div>
                            <div class="position-relative faq-mktg-item" id="how-can-i-change-my-github-subscription">
                                <details class="position-relative border-bottom">
                                    <summary class="position-relative list-style-none pl-4 py-4">
                                        <h3
                                            class="d-inline-block v-align-top mt-n1 col-11 ml-1 ml-lg-6 mb-0 f3-mktg text-semibold color-fg-default">
                                            What is your refund policy?
                                        </h3>
                                    </summary>
                                    <div
                                        class="ml-4 ml-lg-6 pl-1 pl-lg-4 mt-n3 mb-5 color-fg-muted f4-mktg position-relative z-1">
                                        <p>
                                            We guarantee 100% refund within 14 days.
                                        </p>
                                        <p>
                                            We emphasize you use our trial plans, and only when you are happy to proceed
                                            to purchase a plan.
                                        </p>
                                    </div>
                                </details>
                                <div
                                    class="faq-mktg-item-hover-effect position-absolute bottom-0 left-0 width-full z-n1 border-bottom">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{{end}}


{{define "price_slot"}}
<div class="height-full position-relative rounded-3 px-2 pt-5 pb-2 ">
    <div
        class="d-md-flex flex-column flex-justify-between height-full rounded-3 color-shadow-extra-large color-bg-default">
        <div class="px-3 pt-4 pb-3">
            <div>
                <span class="mb-2 h5-mktg">{{.Format}}</span><span class="color-fg-muted lh-condensed mb-2"> data points
                    </p>
            </div>
            <div
                aria-label="Prices are all in USD and billed per year. The actual charge will be USD ${{.YearlyCost}} per year.">
                <h3 class="mb-0">
                    <h3 class="mb-0">
                        <div
                            class="d-flex flex-lg-column flex-lg-wrap flex-xl-nowrap flex-justify-center flex-items-center">
                            <div class="d-flex flex-lg-row flex-lg-wrap flex-justify-center flex-items-center">
                                <span class="d-flex flex-items-center f0-mktg text-normal mr-2 no-wrap">
                                    <sup class="f3 color-fg-muted v-align-middle mr-1">$</sup>
                                    <span>{{.MonthlyCost}}</span>
                                </span>
                            </div>
                            <span class="text-normal text-center f6-mktg color-fg-muted">
                                <span>
                                    per month
                                </span>
                            </span>
                        </div>
                        <div
                            class="d-flex flex-lg-column flex-lg-wrap flex-xl-nowrap flex-justify-center flex-items-center">
                            <div class="d-flex flex-lg-row flex-lg-wrap flex-justify-center flex-items-center">
                                <span class="d-flex  flex-items-center f1-mktg color-fg-subtle mr-2 no-wrap">
                                    <sup class="f0 color-fg-subtle v-align-middle mr-1">$</sup>
                                    <span class="diagonal_line_through" data-plan="business">{{.Before}}</span>
                                </span>
                                <span class="d-flex flex-items-center f0-mktg text-normal mr-2 no-wrap">
                                    <sup class="f1 color-fg-muted v-align-middle mr-1">$</sup>
                                    <span>{{.YearlyCost}}</span>
                                </span>
                            </div>
                            <span class="text-normal text-center f6-mktg color-fg-muted">
                                <span>
                                    per year
                                </span>
                            </span>
                        </div>
                    </h3>
                </h3>
            </div>

        </div>
    </div>
</div>
{{end}}