@import './color_modes';
@import '../node_modules/@primer/css/support';
@import '../node_modules/@primer/css/actionlist';
@import '../node_modules/@primer/css/base';
@import "./box";
@import "./breadcrumbs";
@import '../node_modules/@primer/css/buttons/index.scss';
@import '../node_modules/@primer/css/table-object/index.scss';
@import './forms';
@import './layout';
@import '../node_modules/@primer/css/links/index.scss';
@import './navigation';
@import '../node_modules/@primer/css/pagination/index.scss';
@import '../node_modules/@primer/css/tooltips/index.scss';
@import './truncate';
@import './overlay';
@import '../node_modules/@primer/css/utilities/index.scss';
@import './product';
@import './marketing';
@import './profile';
@import './sites';


:root {
    --color-white: #fff;
    --color-black: #222;
    --color-grey: #777471;
    --color-stone: #edeae6;
    --color-stone-tint: #f6f4f2;
    --color-yellow: #f5d652;
    --color-canary: #fff5ca;
    --color-canary-tint: #fffae5;
    --color-cobalt: #0074e4;
    --color-sky: #b6dbff;
    --color-sky-tint: #daedfe;
    --color-sky-light: #eef8ff;
    --color-blurple: #5522fa;
    --color-lavender: #d5d2ff;
    --color-lavender-tint: #eae8fe;
    --color-purple: #7700a2;
    --color-pink: #cb84de;
    --color-pink-tint: #efdaf5;
    --color-salmon: #ec8580;
    --color-peach: #fee5da;
    --color-peach-tint: #fef2ed;
    --color-teal: #5ceace;
    --color-mint: #b3f8eb;
    --color-mint-tint: #d8f9f0;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-dark: rgba(0, 0, 0, 0.2);
    --color-text: var(--color-black);
    --color-background: var(--color-stone);
    --color-sheet: var(--color-white);
    --color-neutral: var(--color-grey);
    --color-link: var(--color-blurple);
    --color-accent: var(--color-teal);
    --space-x-small: 0.25em;
    --space-small: 0.5em;
    --space-medium: 1em;
    --space-large: 2em;
    --space-x-large: 3em;
    --space-xx-large: 4em;
    --space-xxx-large: 6em;
    --space-navbar: 4em;
}

.body-brand {
    background-color: #bdfcff;
}

.settingsDivider {
    border-width: 3px !important;
    border-color: #ffe0d8 !important;
}