@import './color_modes';
@import '../node_modules/@primer/css/support';
@import '../node_modules/@primer/css/actionlist';
@import '../node_modules/@primer/css/base';
@import "./box";
@import "./breadcrumbs";
@import '../node_modules/@primer/css/buttons/index.scss';
@import '../node_modules/@primer/css/table-object/index.scss';
@import './forms';
@import './layout';
@import '../node_modules/@primer/css/links/index.scss';
@import './navigation';
@import '../node_modules/@primer/css/pagination/index.scss';
@import '../node_modules/@primer/css/tooltips/index.scss';
@import './truncate';
@import './overlay';
@import '../node_modules/@primer/css/utilities/index.scss';
@import './product';
@import './marketing';

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.logo {
    display: inline-block;
    font-size: 64px;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    text-shadow: #222f37 3px 3px 0;
    text-transform: uppercase;
    font-family: futura-pt-condensed, "Futura Cond", "Helvetica", sans-serif;
}

.logo-footer {
    display: inline-block;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    text-shadow: #222f37 3px 3px 0;
    text-transform: uppercase;
    font-family: futura-pt-condensed, "Futura Cond", "Helvetica", sans-serif;
}

.logo-main {
    display: inline-block;
    font-size: 24px;
    vertical-align: text-bottom;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    text-shadow: #222f37 1px 1px 0;
    text-transform: uppercase;
    font-family: futura-pt-condensed, "Futura Cond", "Helvetica", sans-serif;
}

.logo-plain {
    display: inline-block;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    text-shadow: #222f37 3px 3px 0;
    text-transform: uppercase;
    font-family: futura-pt-condensed, "Futura Cond", "Helvetica", sans-serif;
}

.solid-text {
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    font-family: futura-pt-condensed, "Futura Cond", "Helvetica", sans-serif;
}

.logo-fixed {
    display: inline-block;
    font-style: italic;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-shadow: #222f37 3px 3px 0;
    text-transform: uppercase;
    font-family: futura-pt-condensed, "Futura Cond", "Helvetica", sans-serif;
    left: 19px;
    position: absolute;
    top: 20px;
    text-align: center;
    z-index: 1
}

.lead {
    display: inline-block;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    font-family: futura-pt-condensed, "Futura Cond", "Helvetica", sans-serif;
}

.header-menu-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    pointer-events: auto;
    background-color: var(--color-canvas-default);
    box-shadow: var(--header-menu-shadow)
}

@media(min-width: 544px) {
    .HeaderMenu--logged-out .header-menu-wrapper {
        width: 320px
    }
}

@media(min-width: 1012px) {
    .header-menu-wrapper {
        width: 100%;
        overflow: visible;
        background-color: transparent;
        box-shadow: none
    }
}