{{define "_content"}}
<div class="container-md ">
    <div class="Subhead text-center settingsDivider">
        <h2 class="Subhead-heading">Sign In</h2>
    </div>
    <div class="Box">
        <div class="Box-body">
            <form action="/login" method="post">
                <div class="form-group {{if .Errors.failed}}errored{{end}}">
                    <div class="form-group-header">
                        <label for="name-or-email">Username or email address</label>
                    </div>
                    <div class="form-group-body">
                        <input class="form-control input-block" type="text" name="name-or-email" id="name-or-email"
                            {{with .Form.Get "name-or-email" }} value="{{.}}" {{end}}>
                    </div>
                    {{with .Errors.failed}}
                    <p class="note error">{{.}}</p>
                    {{end}}
                </div>

                <div class="form-group {{if .Errors.failed}}errored{{end}}">
                    <div class="form-group-header">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-group-body">
                        <input class="form-control input-block" type="password" name="password" id="password" required
                            {{with .Form.Get "password" }} value="{{.}}" {{end}} autocomplete="current-password">
                    </div>
                </div>
                {{template "_csrf" .}}
                {{template "_captcha" .}}

                <div class="p-2">
                    <ul class="list-style-none">
                        <li>
                            {{Icon "chevron-right" 16}}
                            <a href="/password/request-reset" class="label-link ">
                                Forgot password ?
                            </a>
                        </li>
                        <li>
                            {{Icon "chevron-right" 16}}
                            <span>
                                New to VINCE ?<a href="/register"> Create an account</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Sign In →</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{end}}