{{define "_content"}}
{{$ctx := .}}
<div class="container-md">
    <div class="Subhead mt-3 mb-0">
        <h2 class="Subhead-heading">Profile</h2>
    </div>
    <div class="clearfix gutter d-flex flex-shrink-0 flex-column-reverse flex-md-row">
        <div class="col-12 col-md-8">
            <form action="/settings" method="post" enctype="multipart/form-data">
                <div>
                    <dl class="form-group">
                        <dt>
                            <label for="full_name">Full Name</label>
                        </dt>
                        <dd>
                            <input type="text" class="form-control" id="full_name" name="full_name"
                                value={{.USER.FullName}}>
                        </dd>
                    </dl>
                    <dl class="form-group">
                        <dt>
                            <label for="profile_picture">Change Profile Picture</label>
                        </dt>
                        <dd>
                            <input type="file" accept="image/png" class="form-control" id="profile_picture"
                                name="profile_picture">
                        </dd>
                    </dl>
                </div>
                {{template "_csrf" .}}
                <button type="submit" class="btn btn-primary">Update Profile →</button>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <dl>
                <dt><label class="d-block mb-2">Profile picture</label></dt>
                {{Avatar 200 .USER.Name "avatar circle"}}
            </dl>
        </div>
    </div>

    <div class="Subhead border-0">
        <h2 class="Subhead-heading">Personal API Tokens</h2>
    </div>
    <div class="Box" id="api-keys">
        {{range .USER.APIKeys}}
        <div class="Box-row">
            <div class="f4 d-flex width-full flex-items-baseline flex-justify-between ">
                <div>
                    <span class="text-bold mr-3">
                        {{.Name}}
                    </span>
                    <span class="Label">
                        {{.KeyPrefix}}
                    </span>
                </div>
                <div>
                    <send-form>
                        <button type="button" class=" btn btn-danger" data-to="/settings/api-keys/{{.ID}}/delete"
                            data-method="post" data-action="click:send-form#send" data-csrf="{{$ctx.CSRF}}"
                            data-target="send-form.link">
                            Remove
                        </button>
                    </send-form>
                </div>
            </div>
        </div>
        {{end}}
        <div class="Box-row">
            <form action="/settings/api-keys" method="post">
                <div class="FormControl width-full">
                    <div class="snippet">
                        <input type="hidden" name="key" value="{{.Key}}">
                        <pre><code>{{.Key}}</code></pre>
                    </div>
                    <span class="FormControl-caption">
                        Copy this and store it. It will never be shown again
                    </span>
                </div>
                <div class="mt-3">
                    <input class="FormControl-input" id="name" name="name" type="text" placeholder="Key Name"
                        style="width: 75%;">
                    {{template "_csrf" .}}
                    <input class=" btn btn-primary" type="submit" value="Create New Key">
                </div>
            </form>
        </div>

    </div>
</div>
{{end}}