{{define "_content"}}
<div class="container-xl px-3 px-md-4 px-lg-5 mt-2">
    <div class="Layout Layout--flowRow-until-md Layout--sidebarPosition-start Layout--sidebarPosition-flowRow-start">
        <div data-view-component="true" class="Layout-sidebar">
            <div class="h-card mt-5" data-acv-badge-hovercards-enabled="" itemscope=""
                itemtype="http://schema.org/Person">
                <div class="js-profile-editable-replace">
                    <div class="clearfix d-flex d-md-block flex-items-center mb-4 mb-md-0">
                        <div class="position-relative d-inline-block col-2 col-md-12 mr-3 mr-md-0 flex-shrink-0"
                            style="z-index:4;">
                            <a class="tooltipped tooltipped-s d-block" aria-label="Change your avatar"
                                data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:6039952,&quot;target&quot;:&quot;EDIT_AVATAR&quot;,&quot;user_id&quot;:6039952,&quot;originating_url&quot;:&quot;https://github.com/gernest&quot;}}"
                                data-hydro-click-hmac="ddfd3bdc732c4c9ef3f4eb2fae0919991667ea0bc4733f91b57c76956a1a19e7"
                                href="https://github.com/account"><img style="height:auto;" alt=""
                                    src="https://avatars.githubusercontent.com/u/6039952?v=4" width="260" height="260"
                                    class="avatar avatar-user width-full border color-bg-default"></a>
                        </div>

                        <div class="vcard-names-container float-left js-profile-editable-names col-12 py-3 js-sticky js-user-profile-sticky-fields"
                            data-original-top="0px" style="position: sticky;">
                            <h1 class="vcard-names ">
                                <span class="d-block overflow-hidden" style="font-size: 24px;line-height: 1.25">
                                    {{.USER.FullName}}
                                </span>
                                <span class="d-block"
                                    style="font-size: 20px;font-style: normal;font-weight: var(--base-text-weight-light, 300);line-height: 24px;color: var(--color-fg-muted)">
                                    {{.USER.Name}}
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" Layout-main">
        </div>
    </div>
</div>
{{end}}