{{define "_content"}}
<div class="container-xl px-3 px-md-4 px-lg-5 mt-2">
    <div class="Layout Layout--flowRow-until-md Layout--sidebarPosition-start Layout--sidebarPosition-flowRow-start">
        <div class="Layout-sidebar">
            <div class="mt-5">
                <div class="clearfix d-flex d-md-block flex-items-center mb-4 mb-md-0">
                    <div class="position-relative d-inline-block col-2 col-md-12 mr-3 mr-md-0 flex-shrink-0"
                        style="z-index:4;">
                        <a class="tooltipped tooltipped-s d-block" aria-label="Change your avatar" href="/account">
                            {{Avatar 260 .USER.Name "avatar circle width-full border color-bg-default"}}
                        </a>
                    </div>

                    <div class="float-left  col-12 py-3 ">
                        <h1 style="line-height: 1;">
                            <span class="d-block overflow-hidden" style="font-size: 24px;line-height: 1.25">
                                {{.USER.FullName}}
                            </span>
                            <span class="d-block"
                                style="font-size: 20px;font-style: normal;font-weight: var(--base-text-weight-light, 300);line-height: 24px;color: var(--color-fg-muted)">
                                {{.USER.Name}}
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class=" Layout-main">
        </div>
    </div>
</div>
{{end}}