{{define "_content"}}
<div class="container-xl px-3 px-md-4 px-lg-5 mt-2">
    <div class="Layout Layout--flowRow-until-md Layout--sidebarPosition-start Layout--sidebarPosition-flowRow-start">
        <div class="Layout-sidebar">
            <div class="mt-5">
                <div class="clearfix d-flex d-md-block flex-items-center mb-4 mb-md-0">
                    <div class="position-relative d-inline-block col-2 col-md-12 mr-3 mr-md-0 flex-shrink-0"
                        style="z-index:4;">
                        <a class="tooltipped tooltipped-s d-block" aria-label="Change your avatar" href="/account">
                            {{Avatar 260 .USER.Name "avatar circle width-full border color-bg-default"}}
                        </a>
                    </div>

                    <div class="float-left  col-12 py-3 ">
                        <h1 style="line-height: 1;">
                            <span class="d-block overflow-hidden" style="font-size: 24px;line-height: 1.25">
                                {{.USER.FullName}}
                            </span>
                            <span class="d-block"
                                style="font-size: 20px;font-style: normal;font-weight: var(--base-text-weight-light, 300);line-height: 24px;color: var(--color-fg-muted)">
                                {{.USER.Name}}
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class=" Layout-main">
            {{if eq .Overview.Panel "sites"}}
            <div class="Subhead Subhead--spacious">
                <div class="Subhead-action">
                    <a class="text-center btn btn-primary" type="button" href="/sites/new">
                        {{Icon "plus" 16}}
                        CREATE
                    </a>
                </div>
            </div>
            {{else}}
            <div class="Box Box--spacious">
                <li class="Box-row p-0">
                    <ul class="list-style-none text-center d-flex flex-wrap">
                        <li
                            class="p-3 col-12 col-sm-6 col-md-3 border-bottom border-sm-right border-md-bottom-0 color-border-muted">
                            <span class="d-block h4 color-fg-default">
                                {{.Overview.Global.Visitors}}
                            </span>
                            <span class="color-fg-muted">Visitors</span>
                        </li>
                        <li
                            class="p-3 col-12 col-sm-6 col-md-3 border-bottom border-md-bottom-0 border-md-right color-border-muted">
                            <span class="d-block h4">
                                {{.Overview.Global.Views}}
                            </span>
                            <span class="color-fg-muted">Page Views</span>
                        </li>
                        <li
                            class="p-3 col-12 col-sm-6 col-md-3 border-bottom border-sm-bottom-0 border-sm-right color-border-muted">
                            <span class="d-block h4 color-fg-default">
                                {{.Overview.Global.Events}}
                            </span>
                            <span class="color-fg-muted">Events</span>
                        </li>
                        <li class="p-3 col-12 col-sm-6 col-md-3">
                            <span class="d-block h4 color-fg-default">
                                {{.Overview.Global.Visits}}
                            </span>
                            <span class="color-fg-muted">Visits</span>
                        </li>
                    </ul>
                </li>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{end}}