<!DOCTYPE html>
<html lang="en" data-color-mode="light" data-light-theme="light_tritanopia">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A safer more private google analytics alternative." />
    <script type="text/javascript" src="/js/html.js"></script>
    <title>
        {{if .Title}}
        {{.}}
        {{else}}
        Vince: Self hosted alternative to google analytics
        {{end}}
    </title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body class="d-flex flex-column height-full">
    {{block "content" .}}{{end}}
    <p class="text-center text-small"> ©Vince Analytics. All rights reserved</p>
</body>

</html>

{{define "secure"}}
{{with .csrf}}<input type="hidden" name="_csrf" value="{{.}}">{{end}}
{{with .captcha}}
{{.}}
<input type="text" name="captcha" class="FormControl-input" placeholder="write the number displayed above">
{{end}}
{{end}}