<!DOCTYPE html>
<html lang="en" data-color-mode="light" data-light-theme="light_tritanopia">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A safer more private google analytics alternative." />
    <script type="text/javascript" src="/js/html.js"></script>
    <title>
        {{if .Title}}
        {{.}}
        {{else}}
        Vince: Self hosted alternative to google analytics
        {{end}}
    </title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body class="d-flex flex-column height-full">
    <div class="width-full my-8 text-center">
        <a href="/" class="logo">VINCE</a>
    </div>
    {{block "content" .}}{{end}}
    <p class="text-center text-small"> ©Vince Analytics. All rights reserved</p>
</body>

</html>

{{define "secure"}}
{{with .CSRF}}<input type="hidden" name="_csrf" value="{{.}}">{{end}}
{{if .Captcha}}
<img {{.Captcha}} class="img-responsive" />
<input {{if .Errors.captcha}} invalid="true" {{end}} type="text" name="_captcha" class="FormControl-input"
    placeholder="write the number displayed above" required>
{{.Validate "_captcha"}}
{{end}}
{{end}}


{{define "onboarding_steps"}}
{{$current_step:=.CurrentStep}}
{{$steps := .Steps}}
<div>
    <nav>
        <ol>
            {{range $index, $step := $steps }}
            {{if lt $index $current_step}}
            <li>
                <span>{{$step}}</span>
            </li>
            {{end}}
            {{if eq $index $current_step}}
            <li>
                <span>
                    {{$step}}
                </span>
            </li>
            {{end}}
            {{if gt $index $current_step}}
            <li>
                <span>
                    {{$step}}
                </span>
            </li>
            {{end}}
            {{end}}
        </ol>
    </nav>
</div>
{{end}}