{{define "_footer"}}
<footer class="footer width-full container-xl p-responsive" role="contentinfo">
    <h2 class="sr-only">Footer</h2>
    <div
        class="position-relative d-flex flex-items-center pb-2 f6 color-fg-muted border-top color-border-muted flex-column-reverse flex-lg-row flex-wrap flex-lg-nowrap mt-6 pt-6">
        <div
            class="list-style-none d-flex flex-wrap col-0 col-lg-2 flex-justify-start flex-lg-justify-between mb-2 mb-lg-0">
            <div class="mt-2 mt-lg-0 d-flex flex-items-center">
                <a class="footer-octicon mr-2" href="/">
                    {{Logo 24 "octicon"}}
                </a> <span>
                    © 2023 Geofrey Ernest.
                </span>
            </div>
        </div>
    </div>
</footer>
{{end}}