{{define "_head"}}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="The cloud native web analytics platform." />
<link rel="icon" href="/favicon.svg">
<title>
    {{if .Title}}
    VINCE ANALYTICS | {{.Title}}
    {{else}}
    VINCE ANALYTICS | The Cloud Native Web Analytics Platform.
    {{end}}
</title>
<link rel="stylesheet" href="/css/uPlot.min.css" />
<link rel="stylesheet" href="/css/primer.css" />
<link rel="stylesheet" href="/css/primer_view_components.css" />
<link rel="stylesheet" href="/css/app.css" />
<script type="application/javascript" src="/js/index.js"></script>
<script defer="defer" type="application/javascript" src="/js/primer_view_components.js"></script>
{{end}}