{{define "_header"}}
<header class="AppHeader">
    <div class="AppHeader-globalBar pb-2 js-global-bar">
        <div class="AppHeader-globalBar-start">
            <a class="AppHeader-logo ml-2" href="/" data-hotkey="g d" aria-label="Homepage " data-turbo="false">
                {{Logo 32 "v-align-middle color-fg-default"}}
            </a>
            {{template "context" .}}
        </div>
        <div class="AppHeader-globalBar-end">
            <div class="AppHeader-actions">
            </div>
            <div class="AppHeader-user">
                <button data-show-dialog-id="user-profile-dialog" id="dialog-show-user-profile-dialog" type="button"
                    class="AppHeader-logo Button--invisible Button--medium Button Button--invisible-noVisuals color-bg-transparent p-0">
                    <span class="Button-content">
                        <span class="Button-label">
                            {{Avatar .USER.Name 32 "avatar circle"}}
                        </span>
                    </span>
                </button>
                <div class="Overlay--hidden Overlay-backdrop--side Overlay-backdrop--placement-right"
                    data-modal-dialog-overlay="">
                    <modal-dialog role="dialog" id="user-profile-dialog" aria-modal="true" aria-disabled="true"
                        aria-describedby="user-profile-dialog-title user-profile-dialog-description"
                        class="Overlay Overlay-whenNarrow Overlay--size-small-portrait Overlay--motion-scaleFade SidePanel"
                        style="max-height: 875px;">
                        <div styles="flex-direction: row;" class="Overlay-header">
                            <div class="Overlay-headerContentWrap">
                                <div class="Overlay-titleWrap">
                                    <h1 class="Overlay-title sr-only" id="user-profile-dialog-title">
                                        Account menu
                                    </h1>
                                    <div class="d-flex">
                                        <div class="AppHeader-logo position-relative">
                                            {{Avatar .USER.Name 32 "avatar circle"}}
                                        </div>
                                        <div class="d-flex width-full">
                                            <div
                                                class="lh-condensed d-flex flex-column flex-justify-center ml-2 f5 mr-auto">
                                                <span class="Truncate d-block text-bold">
                                                    <span class="Truncate-text">
                                                        {{.USER.Name}}
                                                    </span>
                                                </span> <span class="Truncate d-block color-fg-subtle">
                                                    <span class="Truncate-text">
                                                        {{.USER.FullName}}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Overlay-actionWrap">
                                    <button data-close-dialog-id="user-profile-dialog" aria-label="Close" type="button"
                                        class="close-button Overlay-closeButton">
                                        {{Icon "x" 16}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="Overlay-body d-flex flex-column height-full px-2">
                            <nav aria-label="User navigation" class="ActionList">
                                <ul class="ActionListWrap">
                                    <li role="presentation" aria-hidden="true" class="ActionList-sectionDivider"></li>
                                    <li class="ActionListItem">

                                        <a href="/{{.USER.Name}}" class="ActionListContent ActionListContent--visual16">
                                            <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                {{Icon "person" 16}}
                                            </span>
                                            <span class="ActionListItem-label">
                                                Profile
                                            </span></a>
                                    </li>
                                    <li role="presentation" aria-hidden="true" class="ActionList-sectionDivider"></li>
                                    <li class="ActionListItem">
                                        <a href="/{{.USER.Name}}?panel=sites"
                                            class="ActionListContent ActionListContent--visual16">
                                            <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                {{Icon "repo" 16}}
                                            </span>
                                            <span class="ActionListItem-label">
                                                Sites
                                            </span></a>
                                    </li>
                                    <li role="presentation" aria-hidden="true" class="ActionList-sectionDivider"></li>
                                    <li class="ActionListItem">
                                        <a href="/settings" class="ActionListContent ActionListContent--visual16">
                                            <span class="ActionListItem-visual ActionListItem-visual--leading">
                                                {{Icon "gear" 16}}
                                            </span>
                                            <span class="ActionListItem-label">
                                                Settings
                                            </span></a>
                                    </li>
                                    <li role="presentation" aria-hidden="true" class="ActionList-sectionDivider"></li>
                                    <li class="ActionListItem">
                                        <a href="/logout" class="ActionListContent">
                                            <span class="ActionListItem-label">
                                                Sign out
                                            </span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </modal-dialog>
                </div>
            </div>
        </div>
    </div>


    <div class="AppHeader-localBar">
        {{if eq .Header.Mode "profile"}}
        <nav class=" overflow-hidden UnderlineNav">
            <ul role="tablist" class="UnderlineNav-body list-style-none">
                <li class="d-inline-flex">
                    <a role="tab" {{if ne .Overview.Panel "sites" }} aria-selected="true" {{end}} id="overview-tab"
                        href={{.ProfileOverview}} class="UnderlineNav-item no-wrap">
                        {{Icon "book" 16 "UnderlineNav-octicon"}}
                        <span>Overview</span>
                    </a>
                </li>
                <li class="d-inline-flex">
                    <a role="tab" {{if eq .Overview.Panel "sites" }} aria-selected="true" {{end}}
                        class="UnderlineNav-item no-wrap " href={{.ProfileSites}}>
                        {{Icon "repo" 16 "UnderlineNav-octicon"}}
                        <span>Sites</span>
                        <span title="{{len .USER.Sites}}" class="Counter">{{len .USER.Sites}}</span>
                    </a>
                </li>
            </ul>
        </nav>
        {{end}}
    </div>
</header>
{{end}}


{{define "context"}}
<div class="AppHeader-context">
    <div class="AppHeader-context-compact">
        {{if .Header.Context}}
        <a class="AppHeader-context-compact-trigger no-underline" href="{{.Header.ContextRef}}">
            <strong class="AppHeader-context-compact-mainItem d-flex flex-items-center Truncate">
                <span class="Truncate-text ">{{.Header.Context}}</span>
            </strong>
        </a>
        {{else}}
        <button
            class="AppHeader-context-compact-trigger Truncate Button--secondary Button--medium Button box-shadow-none">
            <span class="Button-content">
                <span class="Button-label">
                    <span class="AppHeader-context-compact-lead">
                        <span class="AppHeader-context-compact-parentItem">
                            {{.USER.Name}}
                        </span>
                        {{if .Site}}
                        <span class="AppHeader-context-compact-separator">{{"/"}}</span>
                        {{end}}
                    </span>
                    {{if .Site}}
                    <strong class="AppHeader-context-compact-mainItem d-flex flex-items-center Truncate">
                        <span class="Truncate-text ">{{.Site.Domain}}</span>
                    </strong>
                    {{end}}
                </span>
            </span>
        </button>
        {{end}}
    </div>
    <div class="AppHeader-context-full">
        <nav role="navigation" aria-label="Page context">
            <ul role="list" class="list-style-none">
                {{if .Header.Context}}
                <li>
                    <a href="{{.Header.ContextRef}}" class="AppHeader-context-item">
                        <span class="AppHeader-context-item-label">
                            {{.Header.Context}}
                        </span>
                    </a>
                </li>
                {{else}}
                <li>
                    <a href="/{{.USER.Name}}" class="AppHeader-context-item">
                        <span class="AppHeader-context-item-label">
                            {{.USER.Name}}
                        </span>
                    </a>
                    {{if .Site}}
                    <span class="AppHeader-context-item-separator">/</span>
                    {{end}}
                </li>
                {{if .Site}}
                <a href="/{{.USER.Name}}/{{.Site.Domain}}" class="AppHeader-context-item">
                    <strong class="AppHeader-context-item-label">
                        {{.Site.Domain}}
                    </strong>
                </a>
                {{end}}
                {{end}}
            </ul>
        </nav>
    </div>
</div>
{{end}}