{{define "_content"}}
<div class="width-full d-flex container-md mt-4 mx-auto">
    {{if .HasPin}}
    <div class="container-md Box">
        <div class="Box-header ">
            Code Activation
        </div>
        <div class="Box-body">
            <form action="/activate" method="post">
                <input type="text" name="code" id="code" class="form-control input-block my-2"
                    oninput="this.value=this.value.replace(/[^0-9]/g, ''); if (this.value.length >= 4) document.getElementById('submit').focus()"
                    onclick="this.select();" placeholder="••••" maxlength="4">
                {{template "_csrf" .}}
                <input type="submit" id="submit" value="Activate →" name="submit" class="btn  btn-block">
                <p class="text-center mt-3">
                    Not received the code?<a href="/activate/request-code">Send again</a>
                </p>
            </form>
        </div>
    </div>
    {{else}}
    <div>
        <form action="/activate/request-code" method="post"
            class="container-md width-full  mx-auto   px-8 py-6 mb-4 mt-8">
            <h2>Activate your account</h2>
            <div class="mt-2 text-small">
                A 4-digit activation code will be sent to <b>{{.CurrentUser.Email}}</b>
            </div>
            {{template "_csrf" .}}
            <button type="submit">Request activation code</button>
        </form>
    </div>
    {{end}}
</div>
{{end}}