{{define "_content"}}
<div class="container-lg">
    <vince-stats>
        {{$calendar:= Calendar}}
        {{$today:= index $calendar 0}}
        <div class="Subhead Subhead--spacious text-center settingsDivider">
            <h2 class="Subhead-heading mt-3 mt-sm-0">April 26, 2023 <span class="dash">–</span> May 3, 2023</h2>
            <div class="Subhead-actions mt-3 mt-sm-0">
                <details data-view-component="true" class="dropdown details-overlay details-reset d-inline-block">
                    <summary role="button" class="btn">
                        <i>Period:</i>
                        <span data-target="vince-stats.period_label">
                            {{$today.Name}}
                        </span>
                        {{Icon "triangle-down" 16 "ml-2 mr-n1"}}
                    </summary>
                    <div data-view-component="true">
                        <details-menu role="menu" data-view-component="true"
                            class="dropdown-menu select-menu-modal dropdown-menu-sw">
                            <div class="select-menu-header">
                                <div class="select-menu-title">
                                    Select time ranges
                                </div>
                            </div>
                            {{range $index,$period:= $calendar}}
                            <a role="menuitem" data-from="{{$period.From}}" data-to="{{$period.To}}"
                                data-name="{{$period.Name}}" data-targets="vince-stats.periods"
                                data-action="click:vince-stats#changePeriod"
                                class="dropdown-item select-menu-item select-menu-item-text">
                                {{$selected:=SelectedPeriod $index}}
                                {{Icon "check" 16 "select-menu-item-icon" $selected}}
                                <span class="select-menu-item-text">
                                    {{$period.Name}}
                                </span>
                            </a>
                            {{end}}
                        </details-menu>
                    </div>
                </details>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-2">
                <div class="Box text-center">
                    <div class="Box-row">
                        <div>
                            <span class="d-block h4 color-fg-default">
                                0
                            </span>
                            <span class="Link Link--muted">
                                Unique Visitors
                            </span>
                        </div>
                    </div>
                    <div class="Box-row">
                        <div>
                            <span class="d-block h4 color-fg-default">
                                0
                            </span>
                            <span class="Link Link--muted">
                                Page Views
                            </span>
                        </div>
                    </div>
                    <div class="Box-row">
                        <div>
                            <span class="d-block h4 color-fg-default">
                                0
                            </span>
                            <span class="Link Link--muted">
                                Unique Sessions
                            </span>
                        </div>
                    </div>
                    <div class="Box-row">
                        <div>
                            <span class="d-block h4 color-fg-default">
                                0
                            </span>
                            <span class="Link Link--muted">
                                Bounce Rate
                            </span>
                        </div>
                    </div>
                    <div class="Box-row">
                        <div>
                            <span class="d-block h4 color-fg-default">
                                0
                            </span>
                            <span class="color-fg-muted">
                                Session Duration
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
            </div>
            <div class="col-2">
                <div class="Box border-0">
                    <div class="Box-row border-0 p-1 Link Link--muted">
                        Pages
                    </div>
                    <div class="Box-row border-0 p-1 Link Link--muted">
                        Entry Pages
                    </div>
                    <div class="Box-row border-0 p-1 Link Link--muted">
                        Exit Pages
                    </div>
                    <div class="Box-row settingsDivider p-1 Link Link--muted">
                        Referrers
                    </div>
                    <div class="Box-row border-0 p-1 Link Link--muted">
                        Sources
                    </div>
                    <div class="Box-row border-0 p-1 Link Link--muted">
                        Media
                    </div>
                    <div class="Box-row border-0 p-1 Link Link--muted">
                        Campaigns
                    </div>
                    <div class="Box-row settingsDivider p-1 Link Link--muted">
                        Conversions
                    </div>
                    <div class="Box-row border-0 p-1 Link Link--muted">
                        Events
                    </div>
                    <div class="Box-row settingsDivider p-1 Link Link--muted">
                        Countries
                    </div>
                    <div class="Box-row  border-0 p-1 Link Link--muted">
                        Cities
                    </div>
                    <div class="Box-row  border-0 p-1 Link Link--muted">
                        Regions
                    </div>
                    <div class="Box-row settingsDivider  p-1 Link Link--muted">
                        Os
                    </div>
                    <div class="Box-row border-0  p-1 Link Link--muted">
                        Browser
                    </div>
                    <div class="Box-row border-0  p-1 Link Link--muted">
                        Device
                    </div>
                </div>
            </div>
        </div>
    </vince-stats>
</div>
{{end}}