{{define "main"}}
<form class="w-full max-w-3xl mt-4 mx-auto flex" method="post" action="/license">
    {{with .csrf}}<input type="hidden" name="_csrf" value="{{.}}">{{end}}
    <div class="max-w-lg w-full mx-auto bg-white dark:bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-8">
        <h2 class="text-xl font-bold dark:text-gray-100">Apply a new license key</h2>
        {{if .error}}
        <div class="text-red-500 text-xs italic mt-4">{{.error}}</div>
        {{end}}
        <div class="my-4">
            <label for="license" class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2">License
                Key</label>
            <textarea
                class="transition overflow-hidden bg-gray-100  appearance-none border border-transparent rounded w-full p-2 pr-6 text-gray-700 font-mono  appearance-none focus:outline-none focus:bg-white  focus:border-gray-400 text-xs "
                id="license" name="license" rows="16" required>
            </textarea>

        </div>
        <input type="submit" value="Apply →" class="button mt-4 w-full">
    </div>
</form>
{{end}}